<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka_detail">
<link rel="stylesheet" href="stylesheets/danka/danka_detail_common.css" type="text/css" id="danka_detail_common">
<link rel="stylesheet" href="stylesheets/danka/danka_detail_kihon.css" type="text/css" id="danka_detail_kihon">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<%
    var memberId = webItemJson.member_id;
    var dankaTypeDanka = webItemJson.danka_type_danka;
    var dankaTypeShinto = webItemJson.danka_type_shinto;
    var nameSei = webItemJson.name_sei;
    var nameNa = webItemJson.name_na;
    var nameFull = nameSei + "  " + nameNa;
    var tikuName = webItemJson.tiku_name_mei;
    var sewaName = webItemJson.sewa_name_mei;
    var furiganaSei = webItemJson.furigana_sei;
    var furiganaNa = webItemJson.furigana_na;
    var dankaType = webItemJson.danka_type;
    var sex = webItemJson.sex;
    var jobCode = webItemJson.job_name;
    var tikuCode = webItemJson.tiku_name;
    var sewaCode = webItemJson.sewa_name;
    var birthdayY = webItemJson.birthday_y;
    var birthdayM = webItemJson.birthday_m;
    var birthdayD = webItemJson.birthday_d;
    var sou = webItemJson.member_id_sou;
%>
<script>
 $(function(){

    // ページ遷移定義
    $(".menu_sub_kihon").click(function () {
        $("#danka_detail_kihon_form").submit();
    });
    $(".menu_sub_kako").click(function () {
        $("#danka_detail_kako_form").submit();
    });
    $(".menu_sub_genzai").click(function () {
        $("#danka_detail_genzai_form").submit();
    });
    $(".menu_sub_nenkaiki").click(function () {
        $("#danka_detail_nenkaiki_form").submit();
    });
    $(".menu_sub_kihu").click(function () {
        $("#danka_detail_kihu_form").submit();
    });
    $(".menu_sub_omairi").click(function () {
        $("#danka_detail_omairi_form").submit();
    });

    // 基本情報の初期化
    $("#job_list").val(<%= jobCode %>);
    $("#tiku_list").val(<%= tikuCode %>);
    $("#sewa_list").val(<%= sewaCode %>);
    $("#sou_list").val(<%= sou %>);
    $("#birthday_y_list").val(<%= birthdayY %>);
    $("#birthday_m_list").val(<%= birthdayM %>);
    $("#birthday_d_list").val(<%= birthdayD %>);

    // 更新時のバリデーションチェック
    $("form").submit(function(){
        // エラーの初期化
        $("p.error").remove();
        $("td").removeClass("error");
         
        $("input[type='text'].validate").each(function(){
            // 必須項目チェック
            if($(this).hasClass("require")){
                if($(this).val() == ""){
                    $(this).parent().append("<p class='error'>値が設定されていません。</p>");
                    $(this).parent().addClass("error");
                }
            } 
            // 数字項目チェック
            if($(this).hasClass("number")){
                if(isNaN($(this).val())){
                    $(this).parent().append("<p>数値が設定されていません。</p>");
                    $(this).parent().addClass("error");
                }
            }            
        });

        // エラーチェック
        if($("p.error").length > 0){
            return false;
        }
    });
});
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><a href="/schedule_top"><span class="ja">スケジュール</span><span class="en">schedule</span></a>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><a href="/dummy"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span></a>
            <li><a href="/dummy"><span class="ja">台帳管理</span><span class="en">master</span></a>
            <li><a href="/tyohyo_main"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><a href="/dummy"><span class="ja">備品管理</span><span class="en">stock-manage</span></a> 
            <li><a href="/index_a"><span class="ja">寺院情報</span><span class="en">user-info</span></a>   
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div class="inner_title">
        <div class="title">
   	      <h2><span class="ja">檀家管理詳細</span><span class="en">danka detail infomation</span></h2>
        </div>
        <div class="kosyu_info">
   	      <table>
              <thead>
                <tr>
                  <th class="kosyu_info_kosyu_th">戸主名</th>
                  <th class="kosyu_info_type_danka_th">檀家</th>
                  <th class="kosyu_info_type_shinto_th">信徒</th>
                  <th class="kosyu_info_tiku_th">地区</th>
                  <th class="kosyu_info_sewa_th">世話人</th>
                </tr>
              </thead>
              <tbody>
                <tr id="<%= memberId %>">
                  <td class="table_name_full"><%= nameFull %></td>
                  <td class="table_danka_type_danka"><%= dankaTypeDanka %></td>
                  <td class="table_danka_type_shinto"><%= dankaTypeShinto %></td>
                  <td id="<%= tikuCode %>" class="table_tiku_name"><%= tikuName %></td>
                  <td id="<%= sewaCode %>" class="table_sewa_name"><%= sewaName %></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="menu_sub">
          <ul>
            <li class="menu_sub_kihon">基本情報 
            <li class="menu_sub_kako">過去帳
            <li class="menu_sub_genzai">現在帳
            <li class="menu_sub_nenkaiki">年回忌
            <li class="menu_sub_kihu">寄付帳
            <li class="menu_sub_omairi">お参り帳
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div class="inner_main">
        <form action="danka_detail_kihon_confirm" method="post">
          <div class="table_main_kihon">
            <table>
              <thead>
                <tr class="table_main_kihon_header">
                  <th class="table_main_kihon_header_komoku">登録項目</td>
                  <th class="table_main_kihon_header_naiyo">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="danka_type">登録区分</td></td>
                  <td id="danka" class="table_main_tuika_selectable">
                      <%
                      if(dankaType === "0"){
                      %>
                        <input type="radio" name="danka_type" class="dummay" value="0" checked><label for="danka">檀家</label>
                        <input type="radio" name="danka_type" class="dummay" value="1"><label for="shinto">信徒</label>                     
                      <%
                      }else{
                      %>
                        <input type="radio" name="danka_type" class="dummay" value="0"><label for="danka">檀家</label>
                        <input type="radio" name="danka_type" class="dummay" value="1" checked><label for="shinto">信徒</label>                     
                      <%
                      }
                      %>
                  </td>
                </tr>
                <tr>
                  <td id="name_type">戸主名(※必須)</td>
                  <td id="name" class="table_main_tuika_selectable">
                      <label for="name_seimei">姓: </label><input type="text" name="name_sei" class="validate require duplicate_pre" value="<%= nameSei %>">
                      <label for="name_seimei">名: </label><input type="text" name="name_na" class="validate require duplicate_end" value="<%= nameNa %>">
                  </td>
                </tr>
                <tr>
                  <td id="furigana_type">ふりがな(※必須)</td>
                  <td id="furigana" class="table_main_tuika_selectable">
                      <label for="furi_seimei">せい: </label><input type="text" name="furigana_sei" class="validate require duplicate_pre" value="<%= furiganaSei %>">
                      <label for="furi_namae">めい: </label><input type="text" name="furigana_na" class="validate require duplicate_end" value="<%= furiganaNa %>">
                  </td>
                </tr>
                <tr>
                  <td id="sex_type">性別(※必須)</td>
                  <td id="sex" class="table_main_tuika_selectable">
                      <%
                      if(sex === "1"){
                      %>
                        <input type="radio" name="sex" class="dummay" value="0" checked><label for="man">男</label>
                        <input type="radio" name="sex" class="dummay" value="1"><label for="woman">女</label>                
                      <%
                      }else{
                      %>
                        <input type="radio" name="sex" class="dummay" value="0"><label for="man">男</label>
                        <input type="radio" name="sex" class="dummay" value="1" checked><label for="woman">女</label>                 
                      <%
                      }
                      %>
                  </td>
                </tr>
                <tr>
                  <td id="zip_code_type">郵便番号</td>
                  <td id="zip_code" class="table_main_tuika_selectable">
                      <input type="text" name="zip_code_pre" class="validate number"> - <input type="text" name="zip_code_last" class="validate number">
                  </td>
                </tr>
                <tr>
                  <td id="region_type">都道府県</td>
                  <td id="region" class="table_main_tuika_selectable">
                      <input type="text" name="region" class="dummay">
                  </td>
                </tr>
                <tr>
                  <td id="city_type">市区町村</td>
                  <td id="city" class="table_main_tuika_selectable">
                      <input type="text" name="city" class="dummay">
                  </td>
                </tr>
                <tr>
                  <td id="address_line1_type">番地</td>
                  <td id="address_line1" class="table_main_tuika_selectable">
                      <input type="text" name="address_line1" class="dummay">
                  </td>
                </tr>
                <tr>
                  <td id="address_line2_type">ビル名等</td>
                  <td id="address_line2" class="table_main_tuika_selectable">
                      <input type="text" name="address_line2" class="dummay">
                  </td>
                </tr>
                <tr>
                  <td id="birthday_type">生年月日</td>
                  <td id="birthday_y" class="table_main_tuika_selectable">
                     <select id="birthday_y_list"  name="birthday_y" >
                       <option value="1981">1981</option>
                       <option value="1982">1982</option>
                       <option value="1983">1983</option>
                       <option value="1984">1984</option>
                     </select>
                     年
                     <select id="birthday_m_list"  name="birthday_m" >
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                       <option value="9">9</option>
                       <option value="10">10</option>
                       <option value="11">11</option>
                       <option value="12">12</option>
                     </select>
                     月
                     <select id="birthday_d_list"  name="birthday_d" >
                       <option value="1">1</option>
                       <option value="2">2</option>
                       <option value="3">3</option>
                       <option value="4">4</option>
                       <option value="5">5</option>
                       <option value="6">6</option>
                       <option value="7">7</option>
                       <option value="8">8</option>
                       <option value="9">9</option>
                       <option value="10">10</option>
                       <option value="11">11</option>
                       <option value="12">12</option>
                     </select>
                     日
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(優先1)</td>
                  <td id="tel" class="table_main_tuika_selectable">
                      <span class="telno_box_pre">
                      <input type="text" name="telno_1_pre" class="validate number telno_size">
                       - <input type="text" name="telno_1_mid" class="validate number telno_size">
                       - <input type="text" name="telno_1_last" class="validate number telno_size">
                      </span>
                      <span class="telno_box_last">
                         <label>用途：</label><input type="text" name="telno_1_yoto" class="telno_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(優先2)</td>
                  <td id="tel" class="table_main_tuika_selectable">
                      <span class="telno_box_pre">
                      <input type="text" name="telno_2_pre" class="validate number telno_size">
                       - <input type="text" name="telno_2_mid" class="validate number telno_size">
                       - <input type="text" name="telno_2_last" class="validate number telno_size">
                      </span>
                      <span class="telno_box_last">
                         <label>用途：</label><input type="text" name="telno_2_yoto" class="telno_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(優先3)</td>
                  <td id="tel" class="table_main_tuika_selectable">
                      <span class="telno_box_pre">
                      <input type="text" name="telno_3_pre" class="validate number telno_size">
                       - <input type="text" name="telno_3_mid" class="validate number telno_size">
                       - <input type="text" name="telno_3_last" class="validate number telno_size">
                      </span>
                      <span class="telno_box_last">
                         <label>用途：</label><input type="text" name="telno_3_yoto" class="telno_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(優先1)</td>
                  <td id="email" class="table_main_tuika_selectable">
                      <span class="email_box_pre">
                        <input type="text" name="email_1" class="email_size">
                      </span>
                      <span class="email_box_last">
                         <label>用途：</label><input type="text" name="email_1_yoto" class="email_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(優先2)</td>
                  <td id="email" class="table_main_tuika_selectable">
                      <span class="email_box_pre">
                        <input type="text" name="email_2" class="email_size">
                      </span>
                      <span class="email_box_last">
                         <label>用途：</label><input type="text" name="email_2_yoto" class="email_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(優先3)</td>
                  <td id="email" class="table_main_tuika_selectable">
                      <span class="email_box_pre">
                        <input type="text" name="email_3" class="email_size">
                      </span>
                      <span class="email_box_last">
                         <label>用途：</label><input type="text" name="email_3_yoto" class="email_yoto">
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="job_type">職業</td>
                  <td id="job" class="table_main_tuika_selectable">
                     <select id="job_list"  name="job_name" >
                      <% for(var i in jobCodeInfo){
                         var jobCode = jobCodeInfo[i].job_code;
                         var jobName = jobCodeInfo[i].job_name; %>
                         <option value=<%= jobCode %>><%= jobName %></option>
                         <%}%>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td id="tiku_type">地区名</td>
                  <td id="tiku" class="table_main_tuika_selectable">
                     <select id="tiku_list"  name="tiku_name" >
                      <% for(var i in tikuCodeInfo){
                         var tikuCode = tikuCodeInfo[i].tiku_code;
                         var tikuName = tikuCodeInfo[i].tiku_name; %>
                         <option value=<%= tikuCode %>><%= tikuName %></option>
                         <%}%>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td id="sewa_type">世話人</td>
                  <td id="sewa" class="table_main_tuika_selectable">
                     <select id="sewa_list" name="sewa_name" >
                       <option value="9999" selected>---</option>
                      <% for(var i in sewaCodeInfo){
                        var sewaCode = sewaCodeInfo[i].sewa_code;
                        var sewaName = sewaCodeInfo[i].sewa_name; %>
                         <option value=<%= sewaCode %>><%= sewaName %></option>
                         <%}%>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td id="sou_type">担当者[僧]</td>
                  <td id="sou" class="table_main_tuika_selectable">
                     <select id="sou_list" name="sou_name" >
                       <% for(var i in souMemberIdInfo){
                         var souMemberId = souMemberIdInfo[i].member_id;
                         var souNameSei = souMemberIdInfo[i].name_sei;
                         var souNameNa = souMemberIdInfo[i].name_na;
                         var souName = souNameSei + " " + souNameNa; %>
                         <option value=<%= souMemberId %>><%= souName %></option>
                         <%}%>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td class="comment_type">備考<br>※500文字以内</td>
                  <td class="comment table_main_tuika_selectable">
                     <textarea name="comment" class="textarea_size"></textarea></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- サマリ画面表示情報 -->
          <input type="hidden" name="memberId_pre" value=<%= memberId %>>
          <input type="hidden" name="dankaTypeDanka" value=<%= dankaTypeDanka %>>
          <input type="hidden" name="dankaTypeShinto" value=<%= dankaTypeShinto %>>
          <input type="hidden" name="tikuName_pre" value=<%= tikuName %>>
          <input type="hidden" name="sewaName_pre" value=<%= sewaName %>>
          <input type="hidden" name="nameSei_pre" value=<%= nameSei %>>
          <input type="hidden" name="nameNa_pre" value=<%= nameNa %>>
          <!-- 確認画面遷移時の差分比較情報 -->
          <input type="hidden" name="furiganaSei_pre" value=<%= furiganaSei %>>
          <input type="hidden" name="furiganaNa_pre" value=<%= furiganaNa %>>
          <input type="hidden" name="dankaType_pre" value=<%= dankaType %>>
          <input type="hidden" name="sex_pre" value=<%= sex %>>
          <input type="hidden" name="jobCode_pre" value=<%= jobCode %>>
          <input type="hidden" name="tikuCode_pre" value=<%= tikuCode %>>
          <input type="hidden" name="sewaCode_pre" value=<%= sewaCode %>>
          <input type="hidden" name="birthdayY_pre" value=<%= birthdayY %>>
          <input type="hidden" name="birthdayM_pre" value=<%= birthdayM %>>
          <input type="hidden" name="birthdayD_pre" value=<%= birthdayD %>>
          <input type="hidden" name="sou_name_pre" value=<%= sou %>>
          <!-- 画面差異が生じた差異の日本語情報 -->
          <input type="hidden" name="jobName_pre" value=<%= souMemberId %>>

          <div id="new_submit"><input type="submit" value="内容変更確認" id="submit"></div>
        </form>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>