<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka">
<link rel="stylesheet" href="stylesheets/zen_parts_danka.css" type="text/css" id="zen_parts_danka">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<script>
 <!-- 表中の偶数行の色を変える -->
 $(function(){

   $("tbody tr:nth-child(even)").addClass("even");

   $("tbody tr").click(function(){
     var id = $(this).children(".table_name_full_kosyu").attr("id");
     location.href = "/danka_detail_top?id=" + id;
   });
    $("button").click(function(){
        $(".hide").removeClass("hide");
        var trCount = $("tr").size() -2;
        var filterSelectedTiku = $("select[name='tiku_name']").val();
        var filterSelectedSewa = $("select[name='sewa_name']").val();

        // [地区]フィルタの実装
        if(filterSelectedTiku !== '9999'){
            $(".table_tiku_name").each(function(){
                var itemValue = $(this).attr("id");
                if(itemValue !== filterSelectedTiku){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }
        // [世話人]フィルタの実装
        if(filterSelectedSewa !== '9999'){
            $(".table_sewa_name").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).attr("id");
                if(itemValue !== filterSelectedSewa){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }
        // [檀家種別]フィルタの実装 (戸主チェック）
        var isKosyu = $(".isKosyu").prop('checked');
        if(!isKosyu){
            $(".table_kako").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).text();
                if(itemValue === "-"){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }

        // [檀家種別]フィルタの実装（過去チェック）
        var isKako = $(".isKako").prop('checked');
        if(!isKako){
            $(".table_kako").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).text();
                if(itemValue === "○"){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }

        // .evenを付け替える
        $("tbody tr").removeClass("even");
        var evenCount = 1;
        $("tbody tr:not(.hide)").each(function(){
           if(evenCount%2 === 0){
               evenCount++;
               return true;
           }
           $(this).addClass("even");
           evenCount++;
        });
        $("#inner_fiter_sum_count").text("[検索件数]：" + trCount + "件");

    });
 });
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><a href="/schedule_top"><span class="ja">スケジュール</span><span class="en">schedule</span></a>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><a href="/dummy"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span></a>
            <li><a href="/dummy"><span class="ja">台帳管理</span><span class="en">master</span></a>
            <li><a href="/tyohyo_main"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><a href="/dummy"><span class="ja">備品管理</span><span class="en">stock-manage</span></a> 
            <li><a href="/index_a"><span class="ja">寺院情報</span><span class="en">user-info</span></a>   
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div id="inner_title">
        <div id="title">
   	  <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <li><a href="/danka_50">50音別</a>
            <li><a href="/danka_tiku">地区別</a>
            <li><a href="/danka_sewa">世話人別</a> 
            <li><a href="/danka_syosai">詳細検索</a>
            <li><a href="/danka_tuika">追加(戸主)</a> 
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_title -->
      <div id="inner_filter">
          <div id="inner_fiter_sum">
            <% var searchCount = resultRows.length;%>
            <label><span id="inner_fiter_sum_method">[検索結果] 50音別検索：<%= searchMoji %>～</span><span id="inner_fiter_sum_count">[検索件数]：<%= searchCount %>件</span></label>          
          </div>
          <div id="inner_fiter_main">
            <div class="inner_filter_main_item">
                <label>[地区]</label></label>          
                <select id="tiku_list"  name="tiku_name" >
                    <option value="9999" selected>---</option>
                    <% for(var i in tikuCodeInfo){
                        var tikuCode = tikuCodeInfo[i].tiku_code;
                        var tikuName = tikuCodeInfo[i].tiku_name; %>
                        <option value=<%= tikuCode %>><%= tikuName %></option>
                    <%}%>
                </select>
            </div>
            <div class="inner_filter_main_item">
                <label>[世話人]</label></label>          
                <select id="sewa_list"  name="sewa_name" >
                      <option value="9999" selected>---</option>
                      <% for(var i in sewaCodeInfo){
                        var sewaCode = sewaCodeInfo[i].sewa_code;
                        var sewaName = sewaCodeInfo[i].sewa_name; %>
                         <option value=<%= sewaCode %>><%= sewaName %></option>
                         <%}%>
                     </select>
            </div>
            <div id="inner_filter_main_checkbox" class="inner_filter_main_item">
                <input type="checkbox" class="isKosyu" checked>戸主
                <input type="checkbox" class="isKako" checked>過去
            </div>
          </div>
            <div id="inner_filter_main_button">
                <button id="test" type="submit">フィルタ</button>
            </div>
      </div>
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div id="inner_main">
          <div class="table_main_result">
            <table>
              <thead>
                <tr>
                  <th class="table_name_full_th" rowspan="2">氏名</th>
                  <th class="table_danka_type_th" colspan="2">区分</th>
                  <th class="table_tiku_name_th" rowspan="2">地区</th>
                  <th class="table_sewa_name_th" rowspan="2">世話人</th>
                  <th class="table_name_full_kosyu_th" rowspan="2">戸主</th>
                  <th class="table_kako_th" rowspan="2">過</th>
                </tr>
                <tr>
                  <th class="table_danka_type_danka_th">檀家</th>
                  <th class="table_danka_type_shinto_th">信徒</th>
                </tr>
              </thead>
              <tbody>
              <% for(var i in resultRows){
                var memberId = resultRows[i].member_id;
                var memberIdKosyu = resultRows[i].member_id_kosyu;
                var dankaType = resultRows[i].danka_type;
                var nameSei = resultRows[i].name_sei;
                var nameNa = resultRows[i].name_na;
                var nameFull = nameSei + "  " + nameNa;
                var nameSeiKosyu = resultRows[i].name_sei_kosyu;
                var nameNaKosyu = resultRows[i].name_na_kosyu;
                var nameFullKosyu = nameSeiKosyu + "  " + nameNaKosyu;
                var tikuCode = resultRows[i].tiku_code;
                var sewaCode = resultRows[i].member_id_sewa;
                var meinichiY = resultRows[i].meinichi_y;
                var tikuName = tikuInfoJson[tikuCode];
                var sewaName = tikuInfoJson[sewaCode];
                var dankaTypeDanka = "○";
                var dankaTypeShinto = "-";
                if (dankaType === 1){
                    dankaTypeDanka = "-";
                    dankaTypeShinto = "○";
                }
                var kako = "-";
                if (meinichiY){
                    kako = "○";
                }
              %>
              <tr id="<%= memberId %>">
                <td class="table_name_full"><%= nameFull %></td>
                <td class="table_danka_type_danka"><%= dankaTypeDanka %></td>
                <td class="table_danka_type_shinto"><%= dankaTypeShinto %></td>
                <td id="<%= tikuCode %>" class="table_tiku_name"><%= tikuName %></td>
                <td id="<%= sewaCode %>" class="table_sewa_name"><%= sewaName %></td>
                <td id="<%= memberIdKosyu %>" class="table_name_full_kosyu"><%= nameFullKosyu %></td>
                <td class="table_kako"><%= kako %></td>
                </tr>
              <%}%>
              </tbody>
            </table>
          </div>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>