<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">

  <!-- jQuery JS -->
  <script src="js/jquery-1.10.2.min.js"></script>

  <!-- Bootstrap JS & CSS -->
  <script src="/js/bs3.0.3/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/bs3.0.3/bootstrap.css' />

<link rel="stylesheet" href="stylesheets/zen_main_danka2.css" type="text/css" id="zen_main_danka">
<link rel="stylesheet" href="stylesheets/zen_parts_danka.css" type="text/css" id="zen_parts_danka">
<link rel="stylesheet" href="stylesheets/common_parts.css" type="text/css">

<title>檀家管理システム　禅</title>
<script>
 <!-- 表中の偶数行の色を変える -->
 $(function(){

   $("tbody tr:nth-child(even)").addClass("even");

   $("tbody tr").click(function(){
     var id = $(this).children(".table_name_full_kosyu").attr("id");
     location.href = "/danka_detail_top?id=" + id;
   });
    $("button").click(function(){
        $(".hide").removeClass("hide");
        var trCount = $("tr").size() -1;
        var filterSelectedTiku = $("select[name='tiku_name']").val();
        var filterSelectedJiin = $("select[name='jiin']").val();
        var filterSelectedTag = $("select[name='tag']").val();

        // [寺院]フィルタの実装
        if(filterSelectedJiin !== '0'){
            $(".table_jiin_name").each(function(){
                var itemValue = $(this).attr("id");
                if(itemValue !== filterSelectedJiin){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }
        // [地区]フィルタの実装
        if(filterSelectedTiku !== '0'){
            $(".table_tiku_name").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).attr("id");
                if(itemValue !== filterSelectedTiku){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }
        // [タグ]フィルタの実装
        if(filterSelectedTag !== '0'){
            $(".table_tag_name").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).attr("id");
                var tagsInfoInMM = itemValue.split(",");
                var isContainTag = false;
                for(var key in tagsInfoInMM){
                    var _tagName = tagsInfoInMM[key];
                    if(_tagName == filterSelectedTag){    
                        isContainTag = true;
                        break;
                    }
                }
                if(!isContainTag){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }

        // [檀家種別]フィルタの実装（故人チェック）
        var isKako = $(".isKako").prop('checked');
        if(!isKako){
            $(".table_kako").each(function(){
                if($(this).parent().hasClass("hide")){
                    return true;
                }
                var itemValue = $(this).text();
                if(itemValue === "○"){
                    $(this).parent().addClass("hide");
                    trCount--;
                }
            });
        }

        // .evenを付け替える
        $("tbody tr").removeClass("even");
        var evenCount = 1;
        $("tbody tr:not(.hide)").each(function(){
           if((evenCount+1)%2 === 0){
               evenCount++;
               return true;
           }
           $(this).addClass("even");
           evenCount++;
        });
        $("#inner_fiter_sum_count").text("[検索件数]：" + trCount + "件");

    });
 });
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li class="menu_disable"><span class="ja">スケジュール</span><span class="en">schedule</span>
          </ul>
          <ul>
            <li class="menu_enable"><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li class="menu_disable"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
            <li class="menu_disable"><span class="ja">台帳管理</span><span class="en">master</span>
            <li class="menu_enable"><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li class="menu_disable"><span class="ja">備品管理</span><span class="en">stock-manage</span>
            <li class="menu_disable"><span class="ja">寺院情報</span><span class="en">user-info</span>
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div id="inner_title">
        <div id="title">
   	  <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <li><a href="/danka_syosai_new">検索(簡易)</a>
            <li><a href="/danka_50">検索(50音)</a> 
            <li><a href="/danka_syosai">検索(詳細)</a>
            <li><a href="/danka_tuika">戸主追加</a> 
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_title -->
      <div id="inner_filter">
          <div id="inner_fiter_sum" class="row">
              <div class="col col-sm-7 margin-side-zero">
                <% var searchCount = resultRows.length;%>
                <label><span id="inner_fiter_sum_method">[検索結果] <%= seachTitle %></span><span id="inner_fiter_sum_count">[検索件数]：<%= searchCount %>件</span></label>          
              </div>
          </div>
          <div id="inner_fiter_main" class="row">
                <div class="col col-sm-3 padding-left-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">寺院</span>
                        <select class="form-control input-sm" name="jiin">
                            <option value=0>---</option>
                            <option value=1>長伝寺</option>
                            <option value=2>水月寺</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-3 padding-left-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">地区</span>
                        <select id="tiku_list" class="form-control input-sm" name="tiku_name">
                        <% for(var i in tikuCodeInfo){
                            var _tikuCode = tikuCodeInfo[i].tiku_code;
                            var _tikuName = tikuCodeInfo[i].tiku_name; %>
                            <option value=<%= _tikuCode %>><%= _tikuName %></option>
                        <%}%>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-4 padding-left-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">タグ</span>
                        <select class="form-control input-sm" name="tag">
                        <option value=0>---</option>
                        <% for(var i in tagCodeInfo){
                            var _tagCode = tagCodeInfo[i].tags_id;
                            var _tagName = tagCodeInfo[i].tags; %>
                            <option value=<%= _tagName %>><%= _tagName %></option>
                        <%}%>
                    </select>
                    </div>
                </div>
                <div id="style-filter-button" class="col col-sm-2 padding-side-zero">
                    <button class="btn btn-success btn-sm">フィルタ</button>
                    <!-- /input-group -->
                </div>
          </div>
      </div>
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div id="inner_main">
          <div id="table_main_result">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                    <th id="table_member_id_th">ID</th>
                    <th id="table_name_full_th">氏名</th>
                    <th id="table_tiku_name_th">地区</th>
                    <th id="table_tag_th">タグ</th>
                    <th id="table_jiin_th">寺院</th>
                    <th id="table_kako_th">故</th>
                </tr>
              </thead>
              <tbody>
              <% for(var i in resultRows){
                var memberId = resultRows[i].member_id;
                var memberIdKosyu = resultRows[i].member_id_kosyu;
                var nameSei = resultRows[i].name_sei;
                var nameNa = resultRows[i].name_na;
                var nameFull = nameSei + "  " + nameNa;
                var tikuCode = resultRows[i].tiku_code;
                var tagCode = resultRows[i].tags;
                var isArive = resultRows[i].is_arive;
                var tikuName = tikuInfoJson[tikuCode];
                var jiin = resultRows[i].jiin;
                var jiinName = "長伝寺";
                if (jiin == "2"){
                    jiinName = "水月寺";
                }
                var kako = "-";
                if (isArive == 0){
                    kako = "○";
                }
              %>
              <tr id="<%= memberId %>" class="table-selectable">
                <td class="table_member_id"><%= memberId %></td>
                <td class="table_name_full"><%= nameFull %></td>
                <td id="<%= tikuCode %>" class="table_tiku_name"><%= tikuName %></td>
                <td id="<%= tagCode %>" class="table_tag_name"><%= tagCode %></td>
                <td id="<%= jiin %>" class="table_jiin_name"><%= jiinName %></td>
                <td id="<%= memberIdKosyu %>" class="table_name_full_kosyu hide_fix"></td>
                <td class="table_kako"><%= kako %></td>
                </tr>
              <%}%>
              </tbody>
            </table>
          </div>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>


