<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="SunForest Danka System Zen">

<!-- jQuery JS -->
<script src="js/jquery-1.10.2.min.js"></script>

<!-- Bootstrap JS & CSS -->
<script src="/js/bs3.0.3/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/bs3.0.3/bootstrap.css' />

<!-- User JS -->
<script src="http://api.zipaddress.net/sdk/zipaddr.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/jquery.formUtil.js"></script>        

<!-- Default CSS -->
<link rel="stylesheet" href="stylesheets/zen_main_danka2.css" type="text/css" id="zen_main_danka">
<link rel="stylesheet" href="stylesheets/style_danka_tuika.css" type="text/css" id="zen_parts_danka">
<link rel="stylesheet" href="stylesheets/common_parts.css" type="text/css">

<title>檀家管理システム　禅</title>
<script>
    <!-- 表中の偶数行の色を変える -->
    $(function(){

        // CELLに"undefine"が登録されていたら空白に変換
        $(".validate").formUtil("undefileToBlank");

        // checkboxのvalueに"checkMojiRetu（カンマ区切り）"が含まれる場合、check=trueにする。
        // original: 対象となるcheckbox
        // first: [List|String] : checkboxのvalueリスト
        // second: boolean : firstがStringならtrue,Listならfalse
        var tagsMoji = $("#tags_bak").val();
        $('[name="tags"]').formUtil("inputCheckbox", tagsMoji, true);

        // selectListのvalueを選択する。
        var jiinCode = $("#jiin_bak").val();
        $('[name="jiin_code"]').formUtil("selectList", jiinCode);

        // selectListのvalueを選択する。
        var sewaCode = $("#sewa_code_bak").val();
        $('[name="sewa_code"]').formUtil("selectList", sewaCode);

        // selectListのvalueを選択する。
        var tikuCode = $("#tiku_code_bak").val();
        $('[name="tiku_code"]').formUtil("selectList", tikuCode);

        // radioButtonのvalueを選択する。
        var dankaType = $("#danka_type_bak").val();
        $('[name="danka_type"]').formUtil("checkRadioButton", dankaType);

        // EnterKeyで次のCELLへ移動
        $(".enter-mv").formUtil("toNextCell");

        // 数字を入力するCELLからfocusが変わったタイミングで半角に変換する。
        $(".number").formUtil("convertNumberZenToHan");

        // メールを入力するCELLからfocusが変わったタイミングで半角に変換する。
        $(".mail").formUtil("convertMailZenToHan");

        // 郵便番号から住所を検索する。
        $("#zip-code-search").formUtil("searchZipCode");

        // EnterKeyをclick()イベントに変換する。(本当はメソッドチェーンしたいけど無理・・）
        $("#zip-code-search").formUtil("convertEnterToClick");

        // 登録ボタン押下時
        $("form").submit(function(){
            // formのバリデーションチェックを行う。
            var formInfoJson;
            $.ajaxSetup({async: false});  //同期通信開始(json取ってくるまで待つ)
            $.getJSON("conf/danka_tuika_form.json",function(json){
                formInfoJson = json[0];
            });  //サーバのpublic/confからバリデーション定義を取得する。
            $.ajaxSetup({async: true});  //同期通信終了
            
            // バリデーションチェックメイン処理
            var isError = $(".validate").formUtil("validationCheck", formInfoJson);
            if(isError){
                return false;
            }

            // hiddenに世話人、地区名、担当[僧]を設定する
            var sewaName = $("select[name='sewa_code'] option:selected").text();
            var tikuName = $("select[name='tiku_code'] option:selected").text();
            var jiinName = $("select[name='jiin_code'] option:selected").text();
            $("input[name='sewa_name']").val(sewaName);
            $("input[name='tiku_name']").val(tikuName);
            $("input[name='jiin_name']").val(jiinName);
        });
    });
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li class="menu_disable"><span class="ja">スケジュール</span><span class="en">schedule</span>
          </ul>
          <ul>
            <li class="menu_enable"><a href="/danka_syosai_new"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li class="menu_disable"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
            <li class="menu_disable"><span class="ja">台帳管理</span><span class="en">master</span>
            <li class="menu_enable"><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li class="menu_disable"><span class="ja">備品管理</span><span class="en">stock-manage</span>
            <li class="menu_disable"><span class="ja">寺院情報</span><span class="en">user-info</span>
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div id="inner_title">
        <div id="title">
   	        <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <li><a href="/danka_syosai_new">検索(簡易)</a>
            <li><a href="/danka_50">検索(50音)</a> 
            <li class="selected"><a href="/danka_tuika">戸主追加</a> 
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div id="inner_main_tuika">
        <div class="title_comment">
   	      ★登録内容を入力し、本ページ一番下の登録ボタンを押してください。
        </div>
        <form action="/danka_tuika_conform" method="post">
          <div class="margin-top-default">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th class="table-header-item-width-default">登録項目</td>
                  <th class="table-header-naiyo-width-default">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label class="padding-default">登録区分</label></td>
                  <td class="table-selectable">
                    <div class="style-danka-type">
                      <input type="radio" name="danka_type" class="dummay" value="0" checked>檀家
                      <input type="radio" name="danka_type" class="dummay" value="1">信徒
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <label class="padding-default">戸主名</label>
                      <img class="style-mark-in-table" src="img/test.png" width="40" height="20" alt="require"/>
                  </td>
                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">姓</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="name_sei" id="name_sei" value="<%= webItemJson.name_sei %>" class="form-control input-sm validate require sp_check duplicate enter-mv" autofocus>
                      </div>
                      <div class="col col-sm-1 style-name-in-table">名</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="name_na" id="name_na" value="<%= webItemJson.name_na %>" class="form-control input-sm validate require sp_check duplicate_end enter-mv">
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <label class="padding-default">ふりがな</label>
                      <img class="style-mark-in-table" src="img/test.png" width="40" height="20" alt="require"/>
                  </td>
                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">せい</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="furigana_sei" id="furigana_sei" value="<%= webItemJson.furigana_sei %>" class="form-control input-sm validate require sp_check duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-name-in-table">めい</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="furigana_na" id="furigana_na" value="<%= webItemJson.furigana_na %>" class="form-control input-sm validate require sp_check duplicate_end enter-mv">
                      </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">郵便番号</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="zip_code_pre" id="zip_code_pre" value="<%= webItemJson.zip_code_pre %>" class="form-control input-sm validate number duplicate enter-mv aaa">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="zip_code_last" id="zip_code_last" value="<%= webItemJson.zip_code_last %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-5 style-name-in-table">
                        <button type="button" id="zip-code-search" class="btn btn-success btn-xs enter-mv">住所検索</button>
                      </div>

                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">都道府県</label></td>
                  <td class="table-selectable">
                  <div class="col col-sm-3 padding-default">
                    <input type="text" name="region" id="region" value="<%= webItemJson.region %>" class="form-control input-sm validate sp_check enter-mv">
                  </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">市区町村</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-4 padding-default">
                      <input type="text" name="city" id="city" value="<%= webItemJson.city %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">番地</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-12 padding-default">
                      <input type="text" name="address_line1" id="address_line1" value="<%= webItemJson.address_line1 %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">ビル名等</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-12 padding-default">
                      <input type="text" name="address_line2" id="address_line2" value="<%= webItemJson.address_line2 %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">生年月日</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_y" id="birthday_y" value="<%= webItemJson.birthday_y %>" class="form-control input-sm chenge_check validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">年</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_m" id="birthday_m" value="<%= webItemJson.birthday_m %>" class="form-control input-sm chenge_check validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">月</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_d" id="birthday_d" value="<%= webItemJson.birthday_d %>" class="form-control input-sm chenge_check validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-4 style-string-in-table">日</div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先1)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_1" id="telno_pre_1" value="<%= webItemJson.telno_pre_1 %>" class="form-control input-sm validate number tel duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_1" id="telno_mid_1" value="<%= webItemJson.telno_mid_1 %>" class="form-control input-sm validate number tel duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_1" id="telno_last_1" value="<%= webItemJson.telno_last_1 %>" class="form-control input-sm validate number tel duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_1" id="telno_yoto_1" value="<%= webItemJson.telno_yoto_1 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先2)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_2" id="telno_pre_2" value="<%= webItemJson.telno_pre_2 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_2" id="telno_mid_2" value="<%= webItemJson.telno_mid_2 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_2" id="telno_last_2" value="<%= webItemJson.telno_last_2 %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      </span>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_2" id="telno_yoto_2" value="<%= webItemJson.telno_yoto_2 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先3)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_3" id="telno_pre_3" value="<%= webItemJson.telno_pre_3 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_3" id="telno_mid_3" value="<%= webItemJson.telno_mid_3 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_3" id="telno_last_3" value="<%= webItemJson.telno_last_3 %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_3" id="telno_yoto_3" value="<%= webItemJson.telno_yoto_3 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>

                <tr>
                  <td><label class="padding-default">Email(優先1)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_1" id="mail_address_1" value="<%= webItemJson.mail_address_1 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_1" id="mail_yoto_1" value="<%= webItemJson.mail_yoto_1 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">Email(優先2)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_2" id="mail_address_2" value="<%= webItemJson.mail_address_2 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_2" id="mail_yoto_2" value="<%= webItemJson.mail_yoto_2 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">Email(優先3)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_3" id="mail_address_3" value="<%= webItemJson.mail_address_3 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_3" id="mail_yoto_3" value="<%= webItemJson.mail_yoto_3 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">職業</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-4 padding-default">
                        <input type="text" name="job" id="job" value="<%= webItemJson.job %>" class="form-control input-sm validate sp_check job_size enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                 <td><label class="padding-default">所属寺</label></td>
                 <td class="table-selectable padding-default">
                    <div class="padding-left-default">
                        <select name="jiin_code" class="form-control input-sm select-size-default enter-mv">
                            <option value="0" selected>---</option>
                            <option value="1">長伝寺</option>
                            <option value="2">水月寺</option>
                        </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">地区名</label></td>
                  <td class="table-selectable">
                    <div class="padding-left-default">
                        <select name="tiku_code" class="form-control input-sm select-size-default enter-mv" >
                        <% for(var i in tikuCodeInfo){
                            var _tikuCode = tikuCodeInfo[i].tiku_code;
                            var _tikuName = tikuCodeInfo[i].tiku_name; %>
                            <option value=<%= _tikuCode %>><%= _tikuName %></option>
                        <% } %>
                        </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">世話人</label></td>
                  <td class="table-selectable">
                    <div class="padding-left-default">
                        <select name="sewa_code" class="form-control input-sm select-size-default enter-mv" >
                        <% for(var i in sewaCodeInfo){
                            var _sewaCode = sewaCodeInfo[i].sewa_code;
                            var _sewaName = sewaCodeInfo[i].sewa_name; %>
                            <option value=<%= _sewaCode %>><%= _sewaName %></option>
                        <% } %>
                        </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">タグ</label></td>
                  <td class="table-selectable">
                    <div class="padding-default">
                      <% 
                         var count = 1;
                         for(var i in tagsInfo){
                            count++;
                            var _tagName = tagsInfo[i].tags; 
                            %>
                            <input type="checkbox" name="tags" value="<%= _tagName %>"><%= _tagName %>
                            <%
                            if(count>5){
                                count=1;
                            %>      
                            <br>
                            <%}%>                      
                      <%}%>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">備考<br>※500文字以内</label></td>
                  <td class="table-selectable padding-default">
                     <div class="col col-sm-12 padding-default">
                        <textarea name="comment" id="comment" class="form-control input-sm validate sp_check enter-mv"><%= webItemJson.comment %></textarea></p>
                     </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
                <div class="col col-sm-12">
                    <button type="submit" class="btn btn-success btn-lg">　登録　</button>
                </div>
            </div>
          </div>
          <input type="hidden" name="tiku_name" value="dummy">
          <input type="hidden" name="sewa_name" value="dummy">
          <input type="hidden" name="jiin_name" value="dummy">
          <input type="hidden" id="danka_type_bak" value="<%= webItemJson.danka_type %>">
          <input type="hidden" id="tags_bak" value="<%= webItemJson.tags %>">
          <input type="hidden" id="jiin_bak" value="<%= webItemJson.jiin %>">
          <input type="hidden" id="tiku_code_bak" value="<%= webItemJson.tiku_code %>">
          <input type="hidden" id="sewa_code_bak" value="<%= webItemJson.sewa_code %>">          
        </form>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>

