<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka">
<link rel="stylesheet" href="stylesheets/zen_parts_danka.css" type="text/css" id="zen_parts_danka">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<script>
<%
    var dankaType = webItemJson.danka_type;
    var dankaTypeName = "檀家";
    if (dankaType === '1'){
        var dankaTypeName = "信徒";
    }
    var nameSei = webItemJson.name_sei;
    var nameNa = webItemJson.name_na;
    var nameFull = nameSei + "　" + nameNa;
    var furiganaSei = webItemJson.furigana_sei;
    var furiganaNa = webItemJson.furigana_na;
    var furiganaFull = furiganaSei + "　" + furiganaNa;
    var sex = webItemJson.sex;
    var sexName = "男";
    if (sex === '1'){
        sexName = "女";
    }
    var zipCodePre = webItemJson.zip_code_pre;
    var zipCodeLast = webItemJson.zip_code_last;
    var zipCode = zipCodePre + " - " + zipCodeLast;
    var region = webItemJson.region;
    var city = webItemJson.city;
    var addressLine1 = webItemJson.address_line1;
    var addressLine2 = webItemJson.address_line2;
    var birthdayY = webItemJson.birthday_y;
    var birthdayM = webItemJson.birthday_m;
    var birthdayD = webItemJson.birthday_d;
    var birthday = birthdayY + " 年 " + birthdayM + " 月 " + birthdayD + " 日 ";
    var telno1Pre = webItemJson.telno_1_pre;
    var telno1Mid = webItemJson.telno_1_mid;
    var telno1Last = webItemJson.telno_1_last;
    var telno1 = telno1Pre + "-" + telno1Mid + "-" + telno1Last;
    var telno2Pre = webItemJson.telno_2_pre;
    var telno2Mid = webItemJson.telno_2_mid;
    var telno2Last = webItemJson.telno_2_last;
    var telno2 = telno2Pre + "-" + telno2Mid + "-" + telno2Last;
    var telno3Pre = webItemJson.telno_3_pre;
    var telno3Mid = webItemJson.telno_3_mid;
    var telno3Last = webItemJson.telno_3_last;
    var telno3 = telno3Pre + "-" + telno3Mid + "-" + telno3Last;
    var telno1Yoto = webItemJson.telno_1_yoto;
    var telno2Yoto = webItemJson.telno_2_yoto;
    var telno3Yoto = webItemJson.telno_3_yoto;
    var email1 = webItemJson.email_1;
    var email2 = webItemJson.email_2;
    var email3 = webItemJson.email_3;
    var email1Yoto = webItemJson.email_1_yoto;
    var email2Yoto = webItemJson.email_2_yoto;
    var email3Yoto = webItemJson.email_3_yoto;
    var jobCode = webItemJson.job_code;
    var jobName = webItemJson.job_name;
    var tikuCode = webItemJson.tiku_code;
    var tikuName = webItemJson.tiku_name;
    var sewaCode = webItemJson.sewa_code;
    var sewaName = webItemJson.sewa_name;
    var memberIdSou = webItemJson.member_id_sou;
    var souName = webItemJson.sou_name;
    var comment = webItemJson.comment;
%>
</script>
<script>
    $(function(){
        // ページ遷移定義
        $("#return").click(function () {
            $("#danka_tuika_form").submit();
        });
    })
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><a href="/schedule_top"><span class="ja">スケジュール</span><span class="en">schedule</span></a>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><a href="/dummy"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span></a>
            <li><a href="/dummy"><span class="ja">台帳管理</span><span class="en">master</span></a>
            <li><a href="/tyohyo_main"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><a href="/dummy"><span class="ja">備品管理</span><span class="en">stock-manage</span></a> 
            <li><a href="/index_a"><span class="ja">寺院情報</span><span class="en">user-info</span></a>   
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div id="inner_title">
        <div id="title">
   	  <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <li><a href="/danka_50">検索(50音)</a> 
            <li><a href="/danka_syosai">検索(詳細)</a>
            <li><a href="/danka_tuika">戸主追加</a> 
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div id="inner_main">
       <div class="confirm_title_comment">
   	      <span class="confirm_title_comment_main">登録内容確認</span><span class="confirm_title_comment_sub">※よろしければ登録ボタンを押して下さい</span>
        </div>
        <form action="/danka_tuika_update" method="post">
          <div class="table_main_tuika_confirm">
            <table>
              <thead>
                <tr id="header">
                  <th id="newtype">登録項目</td>
                  <th id="newnaiyo">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="danka_type">登録区分(※必須)</td>
                  <td id="danka_type">
                      <label for="danka_type"><%= dankaTypeName %></label>
                  </td>
                </tr>
                <tr>
                  <td id="name_type">戸主名(※必須)</td>
                  <% if(isDuplicate){ %>
                     <td id="name" class="warn">
                          <label for="name"><span class="main"><%= nameFull %></span><span class="sub">※【注意】同じ名前の方が既に登録されています。</span></label>
                     </td>
                  <% } else { %>
                  <td id="name">
                       <label for="name"><%= nameFull %></label>
                  </td>
                  <% } %>  
                </tr>
                <tr>
                  <td id="furigana_type">ふりがな(※必須)</td>
                  <% if(isDuplicate){ %>
                     <td id="furigana_warn" class="warn">
                          <label for="furigana"><span class="main"><%= furiganaFull %></span><span class="sub">※【注意】同じ名前の方が既に登録されています。</span></label>
                     </td>
                  <% } else { %>
                     <td id="furigana">
                          <label for="furigana"><%= furiganaFull %></label>
                     </td>
                  <% } %>   
                  </td>
                </tr>
                <tr>
                  <td id="sex_type">性別(※必須)</td>
                  <td id="sex">
                      <label for="sex"><%= sexName %></label>
                  </td>
                </tr>
                <tr>
                  <td id="zip_code_type">郵便番号</td>
                  <td id="zip_code">
                      <label for="zip_code"><%= zipCode %></label>
                  </td>
                </tr>
                <tr>
                  <td id="region_type">都道府県</td>
                  <td id="region">
                      <label for="region"><%= region %></label>
                  </td>
                </tr>
                <tr>
                  <td id="city_type">市区町村</td>
                  <td id="city">
                      <label for="city"><%= city %></label>
                  </td>
                </tr>
                <tr>
                  <td id="address_line1_type">番地</td>
                  <td id="address_line1">
                      <label for="address_line1"><%= addressLine1 %></label>
                  </td>
                </tr>
                <tr>
                  <td id="address_line2_type">ビル名等</td>
                  <td id="address_line2">
                      <label for="address_line2"><%= addressLine2 %></label>
                  </td>
                </tr>
                <tr>
                  <td id="birthday_type">生年月日</td>
                  <td id="birthday">
                      <label for="birthday"><%= birthday %></label>
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(1)</td>
                  <td id="tel">
                      <span id="telno_box">
                            <label for="tel1"><%= telno1 %></label>
                      </span>
                      <span>
                            <label>用途：</label><label for="tel1">(<%= telno1Yoto %>)</label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(2)</td>
                  <td id="tel">
                      <span id="telno_box">
                            <label for="tel2"><%= telno2 %></label>
                      </span>
                      <span>
                            <label>用途：</label><label for="tel2">(<%= telno2Yoto %>)</label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="tel_type">電話番号(3)</td>
                  <td id="tel">
                      <span id="telno_box">
                            <label for="tel3"><%= telno3 %></label>
                      </span>
                      <span>
                            <label>用途：</label><label for="tel3">(<%= telno3Yoto %>)</label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(1)</td>
                  <td id="email">
                      <span id="email_box">
                            <label for="email1"><%= email1 %></label>
                      </span>
                      <span>
                            <label>用途：</label><label for="email1">(<%= email1Yoto %>)</label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(2)</td>
                  <td id="email">
                      <span id="email_box">
                            <label for="email2"><%= email2 %></label>
                      </span>
                      <span>
                            <label>用途：</label><label for="email2">(<%= email2Yoto %>)</label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="email_type">Email(3)</td>
                  <td id="email">
                      <span id="email_box">
                            <label for="email3"><%= email3 %></label>
                      </span>
                      <span>
                            <label>用途：</label><label for="email3">(<%= email3Yoto %>)</label>
                      </span>
                  </td>
                </tr>
                <tr>
                  <td id="job_type">職業</td>
                  <td id="job">
                     <label for="job"><%= jobName %></label>
                  </td>
                </tr>
                <tr>
                  <td id="tiku_type">地区名</td>
                  <td id="tiku">
                     <label for="tiku"><%= tikuName %></label>
                  </td>
                </tr>
                <tr>
                  <td id="sewa_type">世話人</td>
                  <td id="sewa">
                     <label for="sewa"><%= sewaName %></label>
                  </td>
                </tr>
                <tr>
                  <td id="sou_type">担当者[僧]</td>
                  <td id="sou">
                     <label for="sou"><%= souName %></label>
                  </td>
                </tr>
                <tr>
                  <td id="tag_type">タグ</td>
                  <td id="tags">
                     <label for="tags"><%= tags %></label>
                  </td>
                </tr>
                <tr>
                  <td id="comment_type">備考</td>
                  <td id="comment">
                     <label for="comment"><%= comment %></label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
            <input type="hidden" name="danka_type" value=<%= dankaType %>>
            <input type="hidden" name="name_sei" value=<%= nameSei %>>
            <input type="hidden" name="name_na" value=<%= nameNa %>>
            <input type="hidden" name="furigana_sei" value=<%= furiganaSei %>>
            <input type="hidden" name="furigana_na" value=<%= furiganaNa %>>
            <input type="hidden" name="sex" value=<%= sex %>>
            <input type="hidden" name="zip_code_pre" value=<%= zipCodePre %>>
            <input type="hidden" name="zip_code_last" value=<%= zipCodeLast %>>
            <input type="hidden" name="region" value=<%= region %>>
            <input type="hidden" name="city" value=<%= city %>>
            <input type="hidden" name="address_line1" value=<%= addressLine1 %>>
            <input type="hidden" name="address_line2" value=<%= addressLine2 %>>
            <input type="hidden" name="birthday_y" value=<%= birthdayY %>>
            <input type="hidden" name="birthday_m" value=<%= birthdayM %>>
            <input type="hidden" name="birthday_d" value=<%= birthdayD %>>
            <input type="hidden" name="telno_pre_1" value=<%= telno1Pre %>>
            <input type="hidden" name="telno_mid_1" value=<%= telno1Mid %>>
            <input type="hidden" name="telno_last_1" value=<%= telno1Last %>>
            <input type="hidden" name="telno_yoto_1" value=<%= telno1Yoto %>>
            <input type="hidden" name="telno_pre_2" value=<%= telno2Pre %>>
            <input type="hidden" name="telno_mid_2" value=<%= telno2Mid %>>
            <input type="hidden" name="telno_last_2" value=<%= telno2Last %>>
            <input type="hidden" name="telno_yoto_2" value=<%= telno2Yoto %>>
            <input type="hidden" name="telno_pre_3" value=<%= telno3Pre %>>
            <input type="hidden" name="telno_mid_3" value=<%= telno3Mid %>>
            <input type="hidden" name="telno_last_3" value=<%= telno3Last %>>
            <input type="hidden" name="telno_yoto_3" value=<%= telno3Yoto %>>
            <input type="hidden" name="mail_address_1" value=<%= email1 %>>
            <input type="hidden" name="mail_yoto_1" value=<%= email1Yoto %>>
            <input type="hidden" name="mail_address_2" value=<%= email2 %>>
            <input type="hidden" name="mail_yoto_2" value=<%= email2Yoto %>>
            <input type="hidden" name="mail_address_3" value=<%= email3 %>>
            <input type="hidden" name="mail_yoto_3" value=<%= email3Yoto %>>
            <input type="hidden" name="job_code" value=<%= jobCode %>>
            <input type="hidden" name="tiku_code" value=<%= tikuCode %>>
            <input type="hidden" name="sewa_code" value=<%= sewaCode %>>
            <input type="hidden" name="member_id_sou" value=<%= memberIdSou %>>
            <input type="hidden" name="tags" value=<%= tags %>>
            <input type="hidden" name="comment" value=<%= comment %>>
            <div class="confirm_submit">
              <button type="button" id="return" class="button">戸主追加画面に戻る</button>
              <input type="submit" value="登録" id="register" class="button">
            </div>
        </form>
        <form action="/danka_tuika" method="post" id="danka_tuika_form">
        </form>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>