<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka_detail">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_common.css" type="text/css" id="danka_detail_common">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_kihon_confirm.css" type="text/css" id="danka_detail_kihon">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/util.js"></script>
<script src="js/dankaInfo.js"></script>
<%
    var memberId = webItemJson.member_id;
    var dankaTypeDankaBk = webItemJson.danka_type_danka_bk;
    var dankaTypeShintoBk = webItemJson.danka_type_shinto_bk;
    var nameFullBk = webItemJson.name_full_bk;
    var tikuNameBk = webItemJson.tiku_name_bk;
    var sewaNameBk = webItemJson.sewa_name_bk;
    var tikuCodeBk = webItemJson.tiku_code_bk;
    var sewaCodeBk = webItemJson.sewa_code_bk;

    var nameSeiKakoBk = webItemJson.name_sei_kako_bk;
    var nameNaKakoBk = webItemJson.name_na_kako_bk;
    var nameFullKakoBk = nameSeiKakoBk + "　" + nameNaKakoBk;
    var furiganaSeiKakoBk = webItemJson.furigana_sei_kako_bk;
    var furiganaNaKakoBk = webItemJson.furigana_na_kako_bk;
    var furiganaFullKakoBk = furiganaSeiKakoBk + "　" + furiganaNaKakoBk;
    var sexKakoBk = webItemJson.sex_kako_bk;
    var birthdayYKakoBk = webItemJson.birthday_y_kako_bk;
    var birthdayMKakoBk = webItemJson.birthday_m_kako_bk;
    var birthdayDKakoBk = webItemJson.birthday_d_kako_bk;
    var birthdayKakoBk = birthdayYKakoBk + "年" + birthdayMKakoBk + "月" + birthdayDKakoBk + "日";
    var meinichiYKakoBk = webItemJson.meinichi_y_kako_bk;
    var meinichiMKakoBk = webItemJson.meinichi_m_kako_bk;
    var meinichiDKakoBk = webItemJson.meinichi_d_kako_bk;
    var meinichiKakoBk = meinichiYKakoBk + "年" + meinichiMKakoBk + "月" + meinichiDKakoBk + "日";
    var commentKakoBk = webItemJson.comment_bk;
    var tikuNameKakoBk = webItemJson.tiku_name_kako_bk;
    var sewaNameKakoBk = webItemJson.sewa_name_kako_bk;

    var nameSei = webItemJson.name_sei;
    var nameNa = webItemJson.name_na;
    var nameFull = nameSei + "　" + nameNa;
    var furiganaSei = webItemJson.furigana_sei;
    var furiganaNa = webItemJson.furigana_na;
    var furiganaFull = furiganaSei + "　" + furiganaNa;
    var sex = webItemJson.sex;
    var birthdayY = webItemJson.birthday_y;
    var birthdayM = webItemJson.birthday_m;
    var birthdayD = webItemJson.birthday_d;
    var birthday = birthdayY + "年" + birthdayM + "月" + birthdayD + "日";
    var meinichiY = webItemJson.meinichi_y;
    var meinichiM = webItemJson.meinichi_m;
    var meinichiD = webItemJson.meinichi_d;
    var meinichi = meinichiY + "年" + meinichiM + "月" + meinichiD + "日";
    var tikuName = webItemJson.tiku_name_kako;
    var sewaName = webItemJson.sewa_name_kako;
    var comment = webItemJson.comment;
    var tikuCode = webItemJson.tiku_code;
    var sewaCode = webItemJson.sewa_code;
    var memberIdKako = webItemJson.member_id_kako;
%>
<script>
    $(function(){
    // 更新時のバリデーションチェック
        $("form").submit(function () {
            $(".is_change").each(function () {
                if ($(this).parent().hasClass("m_member")) {
                    $("input[name='is_update_m_member']").val(true);
                    //return false;
                }
                if ($(this).parent().hasClass("t_danka")) {
                    $("input[name='is_update_t_danka']").val(true);
                    //return false;
                }
                if ($(this).parent().hasClass("m_member_tiku")) {
                    $("input[name='is_update_m_member_tiku']").val(true);
                    //return false;
                }
                if ($(this).parent().hasClass("t_comment")) {
                    $("input[name='is_update_t_comment']").val(true);
                    //return false;
                }
            });
        });
    })
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><a href="/schedule_top"><span class="ja">スケジュール</span><span class="en">schedule</span></a>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><a href="/dummy"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span></a>
            <li><a href="/dummy"><span class="ja">台帳管理</span><span class="en">master</span></a>
            <li><a href="/tyohyo_main"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><a href="/dummy"><span class="ja">備品管理</span><span class="en">stock-manage</span></a> 
            <li><a href="/index_a"><span class="ja">寺院情報</span><span class="en">user-info</span></a>   
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div class="inner_title">
        <div class="title">
   	      <h2><span class="ja">檀家管理詳細</span><span class="en">danka detail infomation</span></h2>
        </div>
        <div class="kosyu_info">
   	      <table>
              <thead>
                <tr>
                  <th class="kosyu_info_kosyu_th">戸主名</th>
                  <th class="kosyu_info_type_danka_th">檀家</th>
                  <th class="kosyu_info_type_shinto_th">信徒</th>
                  <th class="kosyu_info_tiku_th">地区</th>
                  <th class="kosyu_info_sewa_th">世話人</th>
                </tr>
              </thead>
              <tbody>
                <tr id="<%= memberId %>">
                  <td class="table_name_full"><%= nameFullBk %></td>
                  <td class="table_danka_type_danka"><%= dankaTypeDankaBk %></td>
                  <td class="table_danka_type_shinto"><%= dankaTypeShintoBk %></td>
                  <td id="<%= tikuCodeBk %>" class="table_tiku_name"><%= tikuNameBk %></td>
                  <td id="<%= sewaCodeBk %>" class="table_sewa_name"><%= sewaNameBk %></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="menu_sub">
          <ul>
            <li class="menu_sub_kihon">基本情報 
            <li class="menu_sub_kako">過去帳
            <li class="menu_sub_nenkaiki">年回忌
            <li class="menu_sub_kihu">寄付帳
            <li class="menu_sub_omairi">お参り帳
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div class="inner_main">
        <div class="title_comment">
   	      <h2><span class="ja">変更内容確認</span><span class="en">※問題が無ければ変更ボタンを押して下さい</span></h2>
        </div>
        <form action="danka_detail_kako_db_update" method="post">
          <div class="table_main_kihon">
            <table>
              <thead>
                <tr class="table_main_kihon_header">
                  <th class="table_main_kihon_header_komoku">登録項目</td>
                  <th class="table_main_kihon_header_naiyo">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr class="m_member">
                  <td id="name_type">俗名(※必須)</td>
                    <script>
                      createHtml("<%= nameFullKakoBk %>", "<%= nameFull %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="furigana_type">ふりがな(※必須)</td>
                    <script>
                      createHtml("<%= furiganaFullKakoBk %>", "<%= furiganaFull %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="sex_type">性別(※必須)</td>
                    <script>
                      createHtmlBySex("<%= sexKakoBk %>", "<%= sex %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="birthday_type">生年月日</td>
                    <script>
                      createHtml("<%= birthdayKakoBk %>", "<%= birthday %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="meinichi_type">命日</td>
                    <script>
                      createHtml("<%= meinichiKakoBk %>", "<%= meinichi %>");
                    </script>
                </tr>
                <tr class="m_member_tiku">
                  <td id="tiku_type">地区名</td>
                    <script>
                      createHtml("<%= tikuNameKakoBk %>", "<%= tikuName %>");
                    </script>
                </tr>
                <tr class="t_danka">
                  <td id="sewa_type">世話人</td>
                    <script>
                      createHtml("<%= sewaNameKakoBk %>", "<%= sewaName %>");
                    </script>
                </tr>
                <tr class="t_danka">
                  <td id="kosyu_type">戸主</td>
                    <td></td>
                </tr>
                <tr class="t_comment">
                  <td class="comment_type">備考<br>※500文字以内</td>
                    <script>
                      createHtml("<%= commentKakoBk %>", "<%= comment %>");
                    </script>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- サマリ画面表示情報 -->
          <input type="hidden" name="member_id" value="<%= memberId %>">
          <input type="hidden" name="danka_type_danka" value="<%= dankaTypeDankaBk %>">
          <input type="hidden" name="danka_type_shinto" value="<%= dankaTypeShintoBk %>">
          <input type="hidden" name="name_full" value="<%= nameFullBk %>">
          <input type="hidden" name="tiku_name" value="<%= tikuNameBk %>">
          <input type="hidden" name="sewa_name" value="<%= sewaNameBk %>">
          <input type="hidden" name="tiku_code" value="<%= tikuCodeBk %>">
          <input type="hidden" name="sewa_code" value="<%= sewaCodeBk %>">
          <!-- 基本情報画面遷移の為の情報 -->
          <input type="hidden" name="name_sei" value=<%= nameSei %>>
          <input type="hidden" name="name_na" value=<%= nameNa %>>
          <input type="hidden" name="furigana_sei" value=<%= furiganaSei %>>
          <input type="hidden" name="furigana_na" value=<%= furiganaNa %>>
          <input type="hidden" name="danka_type" value=<%= dankaType %>>
          <input type="hidden" name="sex" value=<%= sex %>>
          <input type="hidden" name="job_code" value=<%= jobCode %>>
          <input type="hidden" name="birthday_y" value=<%= birthdayY %>>
          <input type="hidden" name="birthday_m" value=<%= birthdayM %>>
          <input type="hidden" name="birthday_d" value=<%= birthdayD %>>
          <input type="hidden" name="member_id_sou" value=<%= memberIdSou %>>
          <!-- DB更新情報 -->
            <input type="hidden" name="member_id_kako" value=<%= memberIdKako %>>
            <input type="hidden" name="name_sei_kako" value=<%= nameSeiKako %>>
            <input type="hidden" name="name_na_kako" value=<%= nameNa %>>
            <input type="hidden" name="furigana_sei_kako" value=<%= furiganaSei %>>
            <input type="hidden" name="furigana_na_kako" value=<%= furiganaNa %>>
            <input type="hidden" name="sex_kako" value=<%= sex %>>
            <input type="hidden" name="birthday_y_kako" value=<%= birthdayY %>>
            <input type="hidden" name="birthday_m_kako" value=<%= birthdayM %>>
            <input type="hidden" name="birthday_d_kako" value=<%= birthdayD %>>
            <input type="hidden" name="tiku_name_kako" value=<%= webItemJson.tiku_name %>>
            <input type="hidden" name="sewa_name_kako" value=<%= webItemJson.sewa_name %>>
            <input type="hidden" name="sewa_code_kako" value=<%= sewaCode %>>
            <input type="hidden" name="tiku_code_kako" value=<%= tikuCode %>>
            <input type="hidden" name="comment_kako" value=<%= webItemJson.comment %>>
            <input type="hidden" name="is_update_m_member" value=false>
            <input type="hidden" name="is_update_m_member_tiku" value=false>
            <input type="hidden" name="is_update_t_danka" value=false>
            <input type="hidden" name="is_update_t_comment" value=false>
          <div id="new_submit"><input type="submit" value="変更" id="submit"></div>
        </form>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>