<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">

  <!-- jQuery JS -->
  <script src="js/jquery-1.10.2.min.js"></script>

  <!-- Bootstrap JS & CSS -->
  <script src="/js/bs3.0.3/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/bs3.0.3/bootstrap.css' />

<link rel="stylesheet" href="stylesheets/zen_main_danka2.css" type="text/css" id="zen_main_danka_detail">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_common.css" type="text/css" id="danka_detail_common">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_kihon.css" type="text/css">
<link rel="stylesheet" href="stylesheets/common_parts.css" type="text/css">

<!-- 住所変換定義 -->
<script src="http://api.zipaddress.net/sdk/zipaddr.min.js"></script>

<!-- 個別定義 -->
<script src="/js/util.js"></script>
<script src="/js/jquery.formUtil.js"></script>

<title>檀家管理システム　禅</title>

<%
    var memberId = kosyuInfo.member_id;
    var dankaType = kosyuInfo.danka_type;
	var dankaTypeDanka = "○";
	var dankaTypeShinto = "-";
	if (dankaType === 1){
	    dankaTypeDanka = "-";
	    dankaTypeShinto = "○";
    }
    var nameSei = kosyuInfo.name_sei;
    var nameNa = kosyuInfo.name_na;
    var nameFull = nameSei + "　" + nameNa;
    var tikuName = kosyuInfo.tiku_name;
    var sewaName = kosyuInfo.sewa_name;
    var furiganaSei = kosyuInfo.furigana_sei;
    var furiganaNa = kosyuInfo.furigana_na;
    var job = kosyuInfo.job;
    var tikuCode = kosyuInfo.tiku_code;
    var sewaCode = kosyuInfo.sewa_code;
    var birthdayY = kosyuInfo.birthday_y;
    var birthdayM = kosyuInfo.birthday_m;
    var birthdayD = kosyuInfo.birthday_d;
    var comment = kosyuInfo.comment;
    var tags = kosyuInfo.tags;
    var jiin = kosyuInfo.jiin;
    var jiinName = "---";
    if (jiin == "1"){
        jiinName = "長伝寺";
    } else if(jiin == "2"){
        jiinName = "水月寺";
    }
    var addressPri1 = addressInfo[0];
    var zipCodePre = addressPri1.zip_code_pre;
    var zipCodeLast = addressPri1.zip_code_last;
    var region = addressPri1.region;
    var city = addressPri1.city;
    var addressLine1 = addressPri1.address_line1;
    var addressLine2 = addressPri1.address_line2;

    var mailAddressPri1 = mailInfo[0];
    var mailAddressPri2 = mailInfo[1];
    var mailAddressPri3 = mailInfo[2];
    var mailAddress1 = mailAddressPri1.mail_address;
    var mailYoto1 = mailAddressPri1.yoto;
    var mailAddress2 = mailAddressPri2.mail_address;
    var mailYoto2 = mailAddressPri2.yoto;
    var mailAddress3 = mailAddressPri3.mail_address;
    var mailYoto3 = mailAddressPri3.yoto;

    var telnumberInfoPri1 = telnumberInfo[0];
    var telnumberInfoPri2 = telnumberInfo[1];
    var telnumberInfoPri3 = telnumberInfo[2];
    var telNumberPre1 = telnumberInfoPri1.tel_number_pre;
    var telNumberMid1 = telnumberInfoPri1.tel_number_mid;
    var telNumberLast1 = telnumberInfoPri1.tel_number_last;
    var telNumberYoto1 = telnumberInfoPri1.yoto;
    var telNumberPre2 = telnumberInfoPri2.tel_number_pre;
    var telNumberMid2 = telnumberInfoPri2.tel_number_mid;
    var telNumberLast2 = telnumberInfoPri2.tel_number_last;
    var telNumberYoto2 = telnumberInfoPri2.yoto;
    var telNumberPre3 = telnumberInfoPri3.tel_number_pre;
    var telNumberMid3 = telnumberInfoPri3.tel_number_mid;
    var telNumberLast3 = telnumberInfoPri3.tel_number_last;
    var telNumberYoto3 = telnumberInfoPri3.yoto;
%>
<script>
    <!-- 表中の偶数行の色を変える -->
    $(function(){

        // CELLに"undefine"が登録されていたら空白に変換
        $(".validate").formUtil("undefileToBlank");

        // checkboxのvalueに"checkMojiRetu（カンマ区切り）"が含まれる場合、check=trueにする。
        // original: 対象となるcheckbox
        // first: [List|String] : checkboxのvalueリスト
        // second: boolean : firstがStringならtrue,Listならfalse
        var tagsMoji = $("input[name='tags_bk']").val();
        $('[name="tags"]').formUtil("inputCheckbox", tagsMoji, true);

        // selectListのvalueを選択する。
        var jiinCode = $("input[name='jiin_code_bk']").val();
        $('[name="jiin_code"]').formUtil("selectList", jiinCode);

        // selectListのvalueを選択する。
        var sewaCode =  $("input[name='sewa_code_bk']").val();
        $('[name="sewa_code"]').formUtil("selectList", sewaCode);

        // selectListのvalueを選択する。
        var tikuCode =  $("input[name='tiku_code_bk']").val();
        $('[name="tiku_code"]').formUtil("selectList", tikuCode);

        // radioButtonのvalueを選択する。
        var dankaType = $("#danka_type_bk").val();
        $('[name="danka_type"]').formUtil("checkRadioButton", dankaType);

        // EnterKeyで次のCELLへ移動
        $(".enter-mv").formUtil("toNextCell");

        // 数字を入力するCELLからfocusが変わったタイミングで半角に変換する。
        $(".number").formUtil("convertNumberZenToHan");

        // メールを入力するCELLからfocusが変わったタイミングで半角に変換する。
        $(".mail").formUtil("convertMailZenToHan");

        // 郵便番号から住所を検索する。
        $("#zip-code-search").formUtil("searchZipCode");

        // EnterKeyをclick()イベントに変換する。(本当はメソッドチェーンしたいけど無理・・）
        $("#zip-code-search").formUtil("convertEnterToClick");

        // 登録ボタン押下時
        $("form").submit(function(){
            // formのバリデーションチェックを行う。
            var formInfoJson;
            $.ajaxSetup({async: false});  //同期通信開始(json取ってくるまで待つ)
            $.getJSON("conf/danka_tuika_form.json",function(json){
                formInfoJson = json[0];
            });  //サーバのpublic/confからバリデーション定義を取得する。
            $.ajaxSetup({async: true});  //同期通信終了
            
            // バリデーションチェックメイン処理
            var isError = $(".validate").formUtil("validationCheck", formInfoJson, 2);
            if(isError){
                return false;
            }
        });
    });
</script>

<script>
 $(function(){
    

    // ページ遷移定義
    $("#return").click(function () {
        $("#return_danka_detail_top_form").submit();
    });
    $(".menu_sub_kihon").click(function () {
        $("#danka_detail_kihon_form").submit();
    });
    $(".menu_sub_kako").click(function () {
        $("#danka_detail_kako_form").submit();
    });
    $(".menu_sub_genzai").click(function () {
        $("#danka_detail_genzai_form").submit();
    });
    $(".menu_sub_nenkaiki").click(function () {
        $("#danka_detail_nenkaiki_form").submit();
    });
    $(".menu_sub_kihu").click(function () {
        $("#danka_detail_kihu_form").submit();
    });
    $(".menu_sub_omairi").click(function () {
        $("#danka_detail_omairi_form").submit();
    });

    // 更新時のバリデーションチェック
    $("#main_form").submit(function(){
        // エラーチェック
        if($("p.error").length > 0){
            return false;
        }

        // テキスト項目の差分チェックを実施
        var beforeDiffList = $(".chenge_check_bk");
        var isChange =  $(".validate").formUtil("diffTextList", beforeDiffList);
        
        // select項目の差分比較
        $(".validate").formUtil("diffTextList", beforeDiffList);
        var tikuCodeAfter = $("select[name='tiku_code'] option:selected").val();
        var sewaCodeAfter = $("select[name='sewa_code'] option:selected").val();
        var jiinCodeAfter = $("select[name='jiin_code'] option:selected").val();
        var tikuCodeBk = $("input[name='tiku_code_bk']").val();
        var sewaCodeBk = $("input[name='sewa_code_bk']").val();
        var jiinCodeBk = $("input[name='jiin_code_bk']").val();
        if(tikuCodeAfter !== tikuCodeBk || sewaCodeAfter !== sewaCodeBk || jiinCodeAfter !== jiinCodeBk){
            isChange = true;
        }

        // radio項目の差分比較
        var dankaTypeAfter = $("input[name='danka_type']:checked").val();
        var dankaTypeBk = $("input[name='danka_type_bk']").val();
        if(dankaTypeAfter !== dankaTypeBk){
            isChange = true;
        }
        
        // テキストエリアの差分比較
        var commentAfter = $("textarea[name='comment']").val();
        var commentBk = $("input[name='comment_bk']").val();
        if(commentAfter !== commentBk){
            isChange = true;
        }

        // チェックボックスの差分比較
        var checkTags =  $("input[name='tags']:checked").formUtil("changeTagsToString");
        var tagsBk = $("input[name='tags_bk']").val();
        if (checkTags !== tagsBk) {
            isChange = true;
        }

        // 値が何も変更されていない場合は、ポップアップを出力する。
        if(!isChange){
            alert("変更されていません。");
            return false;
        }

        // 変更有無チェック
        var tikuNameAfter = $("select[name='tiku_code'] option:selected").text();
        var sewaNameAfter = $("select[name='sewa_code'] option:selected").text();
        var jiinAfter = $("select[name='jiin_code'] option:selected").text();
        $("input[name='tiku_name']").val(tikuNameAfter);
        $("input[name='sewa_name']").val(sewaNameAfter);
        $("input[name='jiin_name']").val(jiinAfter);
        $("input[name='tags_after']").val(checkTags);
    });
});
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
        <div id="menu_box">
            <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
            <div id="menu">
                <nav>
                    <ul>
                        <li class="menu_disable"><span class="ja">スケジュール</span><span class="en">schedule</span>
                    </ul>
                    <ul>
                        <li class="menu_enable"><a href="/danka_base?id=0"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>
                        <li class="menu_disable"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
                        <li class="menu_disable"><span class="ja">台帳管理</span><span class="en">master</span>
                        <li class="menu_enable"><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
                    </ul>
                    <ul>
                        <li class="menu_disable"><span class="ja">備品管理</span><span class="en">stock-manage</span>
                        <li class="menu_disable"><span class="ja">寺院情報</span><span class="en">user-info</span>
                    </ul>
                </nav>
            </div>
        </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div class="inner_title">
        <div id="title">
   	      <h2><span class="ja">檀家管理詳細</span><span class="en">danka detail infomation</span></h2>
        </div>
        <div class="kosyu_info">
   	      <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th class="kosyu_info_kosyu_th">戸主名</th>
                  <th class="kosyu_info_type_danka_th">檀家</th>
                  <th class="kosyu_info_type_shinto_th">信徒</th>
                  <th class="kosyu_info_tiku_th">地区</th>
                  <th class="kosyu_info_sewa_th">世話人</th>
                </tr>
              </thead>
              <tbody>
                <tr id="<%= memberId %>">
                <td class="table_name_full"><div class="padding-default"><%= nameFull %></div></td>
                <td class="table_danka_type_danka"><div class="padding-default text-center"><%= dankaTypeDanka %></div></td>
                <td class="table_danka_type_shinto"><div class="padding-default text-center"><%= dankaTypeShinto %></div></td>
                <td id="<%= tikuCode %>" class="table_tiku_name"><div class="padding-default"><%= tikuName %></div></td>
                <td id="<%= sewaCode %>" class="table_sewa_name"><div class="padding-default"><%= sewaName %></div></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div id="menu_sub">
          <ul>
            <li class="menu_sub_kihon selected"><label>基本情報 </label>
            <li class="menu_sub_kako"><label>過去帳</label>
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div class="inner_main">
        <form action="danka_detail_kihon_confirm" 
          id="main_form" method="post">
          <div class="table_main_kihon">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr class="table_main_kihon_header">
                  <th class="table_main_kihon_header_komoku">登録項目</td>
                  <th class="table_main_kihon_header_naiyo">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label class="padding-default">登録区分</label></td>
                  <td class="table_main_tuika_selectable">
                    <div class="style-danka-type">
                      <%
                      if(dankaType === 0){
                      %>
                        <input type="radio" name="danka_type" class="dummay" value="0" checked>檀家
                        <input type="radio" name="danka_type" class="dummay" value="1">信徒
                      <%
                      }else{
                      %>
                        <input type="radio" name="danka_type" class="dummay" value="0">檀家
                        <input type="radio" name="danka_type" class="dummay" value="1" checked>信徒
                      <%
                      }
                      %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <label class="padding-default">戸主名</label>
                      <img class="style-mark-in-table" src="img/test.png" width="40" height="20" alt="require"/>
                  </td>

                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">姓</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="name_sei" id="name_sei" value="<%= nameSei %>" class="form-control input-sm validate require sp_check duplicate enter-mv" autofocus>
                      </div>
                      <div class="col col-sm-1 style-name-in-table">名</div>

                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="name_na" id="name_na" value="<%= nameNa %>" class="form-control input-sm validate require sp_check duplicate_end enter-mv">
                      </div>
                  </td>
                </tr>

                <tr>
                  <td>
                      <label class="padding-default">ふりがな</label>
                      <img class="style-mark-in-table" src="img/test.png" width="40" height="20" alt="require"/>
                  </td>
                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">せい</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="furigana_sei" id="furigana_sei" value="<%= furiganaSei %>" class="form-control input-sm validate require sp_check duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-name-in-table">めい</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="furigana_na" id="furigana_na" value="<%= furiganaNa %>" class="form-control input-sm validate require sp_check duplicate_end enter-mv">
                      </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">郵便番号</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="zip_code_pre" id="zip_code_pre" value="<%= zipCodePre %>" class="form-control input-sm validate number duplicate enter-mv aaa">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="zip_code_last" id="zip_code_last" value="<%= zipCodeLast %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-5 style-name-in-table">
                        <button type="button" id="zip-code-search" class="btn btn-success btn-xs enter-mv">住所検索</button>
                      </div>

                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">都道府県</label></td>
                  <td class="table-selectable">
                  <div class="col col-sm-3 padding-default">
                    <input type="text" name="region" id="region" value="<%= region %>" class="form-control input-sm validate sp_check enter-mv">
                  </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">市区町村</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-4 padding-default">
                      <input type="text" name="city" id="city" value="<%= city %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">番地</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-12 padding-default">
                      <input type="text" name="address_line1" id="address_line1" value="<%= addressLine1 %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">ビル名等</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-12 padding-default">
                      <input type="text" name="address_line2" id="address_line2" value="<%= addressLine2 %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><label class="padding-default">生年月日</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_y" id="birthday_y" value="<%= birthdayY %>" class="form-control input-sm chenge_check validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">年</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_m" id="birthday_m" value="<%= birthdayM %>" class="form-control input-sm chenge_check validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">月</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_d" id="birthday_d" value="<%= birthdayD %>" class="form-control input-sm chenge_check validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-4 style-string-in-table">日</div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先1)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_1" id="telno_pre_1" value="<%= telNumberPre1 %>" class="form-control input-sm validate number tel duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_1" id="telno_mid_1" value="<%= telNumberMid1 %>" class="form-control input-sm validate number tel duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_1" id="telno_last_1" value="<%= telNumberLast1 %>" class="form-control input-sm validate number tel duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_1" id="telno_yoto_1" value="<%= telNumberYoto1 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先2)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_2" id="telno_pre_2" value="<%= telNumberPre2 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_2" id="telno_mid_2" value="<%= telNumberMid2 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_2" id="telno_last_2" value="<%= telNumberLast2 %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      </span>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_2" id="telno_yoto_2" value="<%= telNumberYoto2 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先3)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_3" id="telno_pre_3" value="<%= telNumberPre3 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_3" id="telno_mid_3" value="<%= telNumberMid3 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_3" id="telno_last_3" value="<%= telNumberLast3 %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_3" id="telno_yoto_3" value="<%= telNumberYoto3 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>

                <tr>
                  <td><label class="padding-default">Email(優先1)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_1" id="mail_address_1" value="<%= mailAddress1 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_1" id="mail_yoto_1" value="<%= mailYoto1 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">Email(優先2)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_2" id="mail_address_2" value="<%= mailAddress2 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_2" id="mail_yoto_2" value="<%= mailYoto2 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">Email(優先3)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_3" id="mail_address_3" value="<%= mailAddress3 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_3" id="mail_yoto_3" value="<%= mailYoto3 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>

                <tr>
                  <td><label class="padding-default">職業</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-4 padding-default">
                        <input type="text" name="job" id="job" value="<%= job %>" class="form-control input-sm validate sp_check job_size enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                 <td><label class="padding-default">所属寺</label></td>
                 <td class="table-selectable padding-default">
                    <div class="padding-left-default">
                        <select id="jiin_code" name="jiin_code" class="form-control input-sm select-size-default enter-mv">
                            <option value="0" selected>---</option>
                            <option value="1">長伝寺</option>
                            <option value="2">水月寺</option>
                        </select>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td><label class="padding-default">地区名</label></td>
                  <td class="table-selectable">
                    <div class="padding-left-default">
                        <select id="tiku_code" name="tiku_code" class="form-control input-sm select-size-default enter-mv" >
                        <% for(var i in tikuCodeInfo){
                            var _tikuCode = tikuCodeInfo[i].tiku_code;
                            var _tikuName = tikuCodeInfo[i].tiku_name; %>
                            <option value=<%= _tikuCode %>><%= _tikuName %></option>
                        <% } %>
                        </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">世話人</label></td>
                  <td class="table-selectable">
                    <div class="padding-left-default">
                        <select id="sewa_code" name="sewa_code" class="form-control input-sm select-size-default enter-mv" >
                        <% for(var i in sewaCodeInfo){
                            var _sewaCode = sewaCodeInfo[i].sewa_code;
                            var _sewaName = sewaCodeInfo[i].sewa_name; %>
                            <option value=<%= _sewaCode %>><%= _sewaName %></option>
                        <% } %>
                        </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">タグ</label></td>
                  <td class="table-selectable">
                    <div id="danka_tuika_tag" class="padding-default">
                      <% 
                         var count = 1;
                         for(var i in tagsInfo){
                            count++;
                            var _tagName = tagsInfo[i].tags; 
                            %>
                            <input type="checkbox" name="tags" class="checkbox_default" value="<%= _tagName %>"><label><%= _tagName %></label>
                            <%
                            if(count>5){
                                count=1;
                            %>      
                            <br>
                            <%}%>                      
                      <%}%>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">備考<br>※500文字以内</label></td>
                  <td class="table-selectable padding-default">
                     <div class="col col-sm-12 padding-default">
                        <textarea name="comment" id="comment" class="form-control input-sm validate sp_check enter-mv"><%= comment %></textarea></p>
                     </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
                <div class="col col-sm-3 text-left">
                    <button type="button" id="return" class="btn btn-primary btn-sm">TOPに戻る</button>
                </div>
                <div class="col col-sm-6">
                    <button type="submit" id="register" class="btn btn-success btn-lg">　変更内容確認　</button>
                </div>
             </div>
          </div>
          <!-- サマリ画面表示情報 -->
          <input type="hidden" name="member_id" value=<%= memberId %>>
          <input type="hidden" name="danka_type_danka_bk" value=<%= dankaTypeDanka %>>
          <input type="hidden" name="danka_type_shinto_bk" value=<%= dankaTypeShinto %>>
          <input type="hidden" name="name_full_bk" value=<%= nameFull %>>
          <input type="hidden" name="tiku_name_bk" value=<%= tikuName %>>
          <input type="hidden" name="sewa_name_bk" value=<%= sewaName %>>
          <input type="hidden" name="tiku_code_bk" value=<%= tikuCode %>>
          <input type="hidden" name="sewa_code_bk" value=<%= sewaCode %>>
          <!-- 変更前の情報 -->
          <input type="hidden" name="danka_type_bk" value=<%= dankaType %>>
          <input type="hidden" name="name_sei_bk" class="chenge_check_bk name_sei" value=<%= nameSei %>>
          <input type="hidden" name="name_na_bk" class="chenge_check_bk name_na" value=<%= nameNa %>>
          <input type="hidden" name="furigana_sei_bk" class="chenge_check_bk furigana_sei" value=<%= furiganaSei %>>
          <input type="hidden" name="furigana_na_bk" class="chenge_check_bk furigana_na" value=<%= furiganaNa %>>
          <input type="hidden" name="zip_code_pre_bk" class="chenge_check_bk zip_code_pre" value=<%= zipCodePre %>>
          <input type="hidden" name="zip_code_last_bk" class="chenge_check_bk zip_code_last" value=<%= zipCodeLast %>>
          <input type="hidden" name="region_bk" class="chenge_check_bk region" value=<%= region %>>
          <input type="hidden" name="city_bk" class="chenge_check_bk city" value=<%= city %>>
          <input type="hidden" name="address_line1_bk" class="chenge_check_bk address_line1" value=<%= addressLine1 %>>
          <input type="hidden" name="address_line2_bk" class="chenge_check_bk address_line2" value=<%= addressLine2 %>>
          <input type="hidden" name="birthday_y_bk" class="chenge_check_bk birthday_y" value=<%= birthdayY %>>
          <input type="hidden" name="birthday_m_bk" class="chenge_check_bk birthday_m" value=<%= birthdayM %>>
          <input type="hidden" name="birthday_d_bk" class="chenge_check_bk birthday_d" value=<%= birthdayD %>>
          <input type="hidden" name="telno_pre_1_bk" class="chenge_check_bk telno_pre_1" value=<%= telNumberPre1 %>>
          <input type="hidden" name="telno_mid_1_bk" class="chenge_check_bk telno_mid_1" value=<%= telNumberMid1 %>>
          <input type="hidden" name="telno_last_1_bk" class="chenge_check_bk telno_last_1" value=<%= telNumberLast1 %>>
          <input type="hidden" name="telno_yoto_1_bk" class="chenge_check_bk telno_yoto_1" value=<%= telNumberYoto1 %>>
          <input type="hidden" name="telno_pre_2_bk" class="chenge_check_bk telno_pre_2" value=<%= telNumberPre2 %>>
          <input type="hidden" name="telno_mid_2_bk" class="chenge_check_bk telno_mid_2" value=<%= telNumberMid2 %>>
          <input type="hidden" name="telno_last_2_bk" class="chenge_check_bk telno_last_2" value=<%= telNumberLast2 %>>
          <input type="hidden" name="telno_yoto_2_bk" class="chenge_check_bk telno_yoto_2" value=<%= telNumberYoto2 %>>
          <input type="hidden" name="telno_pre_3_bk" class="chenge_check_bk telno_pre_3" value=<%= telNumberPre3 %>>
          <input type="hidden" name="telno_mid_3_bk" class="chenge_check_bk telno_mid_3" value=<%= telNumberMid3 %>>
          <input type="hidden" name="telno_last_3_bk" class="chenge_check_bk telno_last_3" value=<%= telNumberLast3 %>>
          <input type="hidden" name="telno_yoto_3_bk" class="chenge_check_bk telno_yoto_3" value=<%= telNumberYoto3 %>>
          <input type="hidden" name="mail_address_1_bk" class="chenge_check_bk mail_address_1" value=<%= mailAddress1 %>>
          <input type="hidden" name="mail_yoto_1_bk" class="chenge_check_bk mail_yoto_1" value=<%= mailYoto1 %>>
          <input type="hidden" name="mail_address_2_bk" class="chenge_check_bk mail_address_2" value=<%= mailAddress2 %>>
          <input type="hidden" name="mail_yoto_2_bk" class="chenge_check_bk mail_yoto_2" value=<%= mailYoto2 %>>
          <input type="hidden" name="mail_address_3_bk" class="chenge_check_bk mail_address_3" value=<%= mailAddress3 %>>
          <input type="hidden" name="mail_yoto_3_bk" class="chenge_check_bk mail_yoto_3" value=<%= mailYoto3 %>>
          <input type="hidden" name="job_bk" value=<%= job %>>
          <input type="hidden" name="comment_bk" value=<%= comment %>>
          <input type="hidden" name="tags_bk" value=<%= tags %>>
          <input type="hidden" name="jiin_code_bk" value=<%= jiin %>>
          <input type="hidden" name="jiin_name_bk" value=<%= jiinName %>>
          <!-- 変更後の情報 -->
          <input type="hidden" name="tiku_name" value="dummy">
          <input type="hidden" name="sewa_name" value="dummy">
          <input type="hidden" name="tags_after" value="dummy">
          <input type="hidden" name="jiin_name" value="dummy">
        </form>
      </div> 

      <form action="/return_danka_detail_top" method="post" id="return_danka_detail_top_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kihon" method="post" id="danka_detail_kihon_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kako" method="post" id="danka_detail_kako_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_nenkaiki" method="post" id="danka_detail_nenkaiki_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kihu" method="post" id="danka_detail_kihu_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_omairi" method="post" id="danka_detail_omairi_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>

