<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka_detail">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_common.css" type="text/css" id="danka_detail_common">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_kihon_success.css" type="text/css" id="danka_detail_kihon">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/util.js"></script>
<script src="js/dankaInfo.js"></script>
<%
    var memberId = webItemJson.member_id;
    var dankaType = webItemJson.danka_type;
    var dankaTypeDanka = "○";
    var dankaTypeShinto = "-";
    if (dankaType === 1){
        dankaTypeDanka = "-";
        dankaTypeShinto = "○";
    }
    var nameSei = webItemJson.name_sei;
    var nameNa = webItemJson.name_na;
    var nameFull = nameSei + "　" + nameNa;
    var tikuName = webItemJson.tiku_name;
    var sewaName = webItemJson.sewa_name;
    var tikuCode = webItemJson.tiku_code;
    var sewaCode = webItemJson.sewa_code;
%>
<script>
    $(function(){

    // ページ遷移定義
        $("#return").click(function () {
            $("#return_danka_detail_top_form").submit();
        });
        $(".menu_sub_kihon").click(function () {
            $("#danka_detail_kihon_form").submit();
        });
        $(".menu_sub_kako").click(function () {
            $("#danka_detail_kako_form").submit();
        });
        $(".menu_sub_genzai").click(function () {
            $("#danka_detail_genzai_form").submit();
        });
        $(".menu_sub_nenkaiki").click(function () {
            $("#danka_detail_nenkaiki_form").submit();
        });
        $(".menu_sub_kihu").click(function () {
            $("#danka_detail_kihu_form").submit();
        });
        $(".menu_sub_omairi").click(function () {
            $("#danka_detail_omairi_form").submit();
        });
    })
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><span class="ja">スケジュール</span><span class="en">schedule</span>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
            <li><span class="ja">台帳管理</span><span class="en">master</span>
            <li><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><span class="ja">備品管理</span><span class="en">stock-manage</span>
            <li><span class="ja">寺院情報</span><span class="en">user-info</span>
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div class="inner_title">
        <div class="title">
   	      <h2><span class="ja">檀家管理詳細</span><span class="en">danka detail infomation</span></h2>
        </div>
        <div class="kosyu_info">
   	      <table>
              <thead>
                <tr>
                  <th class="kosyu_info_kosyu_th">戸主名</th>
                  <th class="kosyu_info_type_danka_th">檀家</th>
                  <th class="kosyu_info_type_shinto_th">信徒</th>
                  <th class="kosyu_info_tiku_th">地区</th>
                  <th class="kosyu_info_sewa_th">世話人</th>
                </tr>
              </thead>
              <tbody>
                <tr id="<%= memberId %>">
                  <td class="table_name_full"><%= nameFull %></td>
                  <td class="table_danka_type_danka"><%= dankaTypeDanka %></td>
                  <td class="table_danka_type_shinto"><%= dankaTypeShinto %></td>
                  <td id="<%= tikuCode %>" class="table_tiku_name"><%= tikuName %></td>
                  <td id="<%= sewaCode %>" class="table_sewa_name"><%= sewaName %></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="menu_sub">
          <ul>
            <li class="menu_sub_kihon">基本情報
            <li class="menu_sub_kako">過去帳
            <li class="menu_sub_nenkaiki_dummy">年回忌
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div class="inner_main">
        <div class="title_comment">
   	      <h2>更新完了しました。</h2>
        </div>
        <div class="return_button">
          <button id="return" class="button">TOPへ戻る</button>
        </div>
      </div>

      <form action="/return_danka_detail_top" method="post" id="return_danka_detail_top_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kihon" method="post" id="danka_detail_kihon_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kako" method="post" id="danka_detail_kako_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_nenkaiki" method="post" id="danka_detail_nenkaiki_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kihu" method="post" id="danka_detail_kihu_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_omairi" method="post" id="danka_detail_omairi_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>