<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="SunForest Danka System Zen">
<title>檀家管理システム　禅</title>

<!---------------------------------------------------------------------------------------------------------
<!-- SCRIPT呼出定義
<!---------------------------------------------------------------------------------------------------------
<!-- jQuery定義 -->
<!-- <script src="/js/jquery-1.10.2.min.js"></script>
　<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/start/jquery-ui.css" rel="stylesheet">
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  

<!-- ブートストラップ定義 -->
<script src="/js/bs3.0.3/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/bs3.0.3/bootstrap.css' />

<!-- サジェスト定義 -->
<script src="/js/select2-3.4.5/select2.js"></script>

<!-- 住所変換定義 -->
<script src="http://api.zipaddress.net/sdk/zipaddr.min.js"></script>

<!-- socket.IO定義 -->
<script src="/socket.io/socket.io.js"></script>
        
<!-- 個別定義 -->
<script src="/js/util.js"></script>
<script src="/js/jquery.formUtil.js"></script>
<script src="/js/dankaInfo.js"></script>

<!---------------------------------------------------------------------------------------------------------
<!-- スタイルシート定義
<!---------------------------------------------------------------------------------------------------------
<!-- サジェスト機能 -->
<link rel='stylesheet' href='/stylesheets/select2-3.4.5/select2.css' />
<link rel='stylesheet' href='/stylesheets/select2-3.4.5/select2-bootstrap.css' />

<!-- フォント定義 -->
<link rel="stylesheet" href="stylesheets/font-awesome/font-awesome.css">

<!-- 個別定義 -->
<link rel="stylesheet" href="/stylesheets/zen_main_danka2.css" type="text/css" />
<link rel="stylesheet" href="stylesheets/style_danka_tuika.css" type="text/css" id="zen_parts_danka">
<link rel="stylesheet" href="stylesheets/common_parts.css" type="text/css">

<!---------------------------------------------------------------------------------------------------------
<!--SCRIPT定義（個別）-全タブ共通の定義
<!-------------------------------------------------------------------------------------------------------->  
<script>
    // タブ選択時の画面切り替え
    function ChangeTab(tabName) {
        if (tabName == "easy") {
            $("#inner_main_50on").addClass("hidden");
            $("#inner_filter_eary_search").removeClass("hidden");
            $("#inner_main_easy_search").removeClass("hidden");
            $("#inner_main_tuika").addClass("hidden");
            $("#tab_search_easy").addClass("selected");
            $("#tab_search_50on").removeClass("selected");
            $("#tab_add_kosyu").removeClass("selected");
            $("#serch_tag").focus();
        } else if (tabName == "50on") {
            $("#inner_filter_eary_search").addClass("hidden");
            $("#inner_main_easy_search").addClass("hidden");
            $("#inner_main_50on").removeClass("hidden");
            $("#inner_main_tuika").addClass("hidden");
            $("#tab_search_50on").addClass("selected");
            $("#tab_search_easy").removeClass("selected");
            $("#tab_add_kosyu").removeClass("selected");
        } else if (tabName == "tuika") {
            $("#inner_main_50on").addClass("hidden");
            $("#inner_filter_eary_search").addClass("hidden");
            $("#inner_main_easy_search").addClass("hidden");
            $("#inner_main_tuika").removeClass("hidden");
            $("#tab_search_50on").removeClass("selected");
            $("#tab_search_easy").removeClass("selected");
            $("#tab_add_kosyu").addClass("selected");
            $("#name_sei").focus();
        }
    }
    $(function () {
        // 検索(簡易)タブのクリック
        $("#tab_search_easy").click(function () {
            ChangeTab("easy");
        });

        // 検索(50音)タブのクリック
        $("#tab_search_50on").click(function () {
            ChangeTab("50on");
        });

        // 戸主追加タブのクリック
        $("#tab_add_kosyu").click(function () {
            ChangeTab("tuika");
        });
    });
</script>

<!---------------------------------------------------------------------------------------------------------
<!-- SCRIPT定義（個別）-検索(簡易)タブの定義 ※印刷関連
<!-------------------------------------------------------------------------------------------------------->
<script>
    // ソケット通信の開始
    var socket = io.connect("http://<%= page.url %>");

    // 帳票名リストを選択した場合に、種類リストを作成する。
    // （送信機能）
    function SendSelectReportType() {
        // report_type_noを送る
        var data = $("select[id='select_type']").val();
        socket.emit('SelectReportType', { value: data });
    }
    // （受信機能）
    socket.on('SelectReportType', function (data) {
        // 選択肢から一度全て取り除く
        $('#select_template > option').remove();
        // テンプレートを選択肢に追加
        $('#select_template').append($('<option>').html("内容を選択").val(9999));
        for (var i = 0; i < data.length; i++) {
            $('#select_template').append($('<option>').html(data[i].report_name).val(data[i].report_no));
        }
    });

    // 印刷画面の表示
    function submit(){
      if($('#select_type').val() == 9999 || $('#select_template').val() == 9999){
        alert("帳票とテンプレートを正しく選択してください。");
      }else{
        alert("印刷用ページを開きます。\n新しく開いたページをそのまま印刷して下さい。");

      $('#preview_flag').val(0);
      $("form[name='print_report_type']").submit();
      }
    }

    // 印刷オプションボタンを押下した場合の定義
    // (送信機能）
    function updatePrintDanka() {
        $(".checkbox_default_list").click(function () {
            var data = $(this).attr('value');

            if ($(this).prop('checked') == true) {
                // InsertReportIfメッセージを送る
                socket.emit('InsertReportIf', { value: data });
            } else {
                // DeleteReportIfメッセージを送る
                socket.emit('DeleteReportIf', { value: data });
            }
        });
    }

    // 印刷画面の表示
    function PrintTyohyo(){
      var selectType = $('#select_type').val();
      var selectTemplate = $('#select_template').val();
      if(selectType == 9999 || selectTemplate == 9999){
        alert("帳票とテンプレートを正しく選択してください。");
      }else{
        alert("印刷用ページを開きます。\n新しく開いたページをそのまま印刷して下さい。");
        // var kakunin = "http://<%= page.urlPrintServ %>/Reportserver?/hurikomi&p1=" + selectTemplate + "&p2=" + selectTemplate + "&rc:Parameters=False&rs:Format=PDF&rc:OutputFormat=JPEG";
        location.href = "http://<%= page.urlPrintServ %>/Reportserver?/hurikomi&p1=" + selectTemplate + "&p2=" + selectType + "&rc:Parameters=False&rs:Format=PDF&rc:OutputFormat=JPEG";
      }
    }
</script>

<!---------------------------------------------------------------------------------------------------------
<!-- SCRIPT定義（個別）-検索(簡易)タブの定義 ※印刷以外
<!-------------------------------------------------------------------------------------------------------->
<script>
    $(function () {
        // 「印刷オプションボタン」の定義
        $("#print_display_flag").click(function () {

            // 検索の連続実施チェック
            var updatable = $("input[name='printflg_updatable']").val();
            if (updatable == "0"){
                return false;
            }
      
            // 検索実施後1秒間は、検索ボタンによる処理を実行しない。 
            $("input[name='printflg_updatable']").val("0");
            setTimeout(function(){
                $("input[name='printflg_updatable']").val("1");
            },1000);
        
            var serchMoji = $("#serch_tag").val();
            var printMessage = $(this).text();
            if (printMessage == "印刷オプションを閉じる") {
                $("#inner_main_print").addClass("hidden");
                $(this).text("印刷オプションを表示する");
                $("#table_print_ck").addClass("hidden");
                $("#table_kako_th").removeClass("hidden");
                $('#target_list > tr').remove();
                $('#checkbox_kojin').removeClass("hidden");
                $('#search_count').text("[検索件数]：件");
            } else {
                $("#inner_main_print").removeClass("hidden");
                $(this).text("印刷オプションを閉じる");
                $("#table_print_ck").removeClass("hidden");
                $("#table_kako_th").addClass("hidden");
                $('#target_list > tr').remove();
                $('#checkbox_kojin').addClass("hidden");
                $('#search_count').text("[検索件数]：件");
            }
            if (!isUndefine(serchMoji)){
                GetSearchTargetList();
            }
        });

        // 「全て選択ボタン」の定義
        $("input[name='all_check']").click(function () {
            var target_member_id = [];
            //var elem = document.getElementsByName("target");
            var elem = $("input[name='target']");
            if (elem.length == 0){
                return false;
            }
            var isChecked = $(this).prop('checked');
            if (isChecked) {
                for (var i = 0; i < elem.length; i++) {
                    elem[i].checked = "checked";
                    target_member_id[i] = elem[i].value;
                }
                socket.emit('AllInsertReportIf', { value: target_member_id, flag: true });
            } else {
                for (var i = 0; i < elem.length; i++) {
                    elem[i].checked = "";
                    target_member_id[i] = elem[i].value;
                }
                socket.emit('AllDeleteReportIf', { value: target_member_id, flag: false });
            }
        });
    });

    <!--  検索ボタンの定義 -->
    function GetSearchTargetList() {
      
      // 検索の連続実施チェック
      var updatable = $("input[name='search_updatable']").val();
      if (updatable == "0"){
        return false;
      }
      
      // 検索実施後1秒間は、検索ボタンによる処理を実行しない。 
      $("input[name='search_updatable']").val("0");
      setTimeout(function(){
        $("input[name='search_updatable']").val("1");
      },1000);
      
      // バリデーションチェック
      var isError = $("#serch_tag").formUtil("validationCheck");
      if(isError){
        // まずは一度全て取り除く
        $('#target_list > tr').remove();

        // エラーメッセージを表示する
        var html = "";
        html +=  "<tr>";
        html +=   "<td class=\"error\" colspan = 10>";
        html +=     "<br>名前に特殊文字は入力できません。(対象文字： \'\"\\\*\+\.\?\{\}\[\]\&\(\)\^\$\|\=\`)";
        html +=     "<br>特殊文字を全角にするか、他の検索キーワードを入力して下さい。";
        html +=     "<p>";
        html +=   "</td>";
        html +=  "</tr>";
        $('#target_list').append(html);
        return false;
      }
      // 検索ボックスに入力されたtagsを送る
      var searchTag = $('#serch_tag').val();
      var isKako = $(".is_kako").prop('checked');
      var filterJiin = $("select[name='jiin']").val();
      var filterTikuCode = $("select[name='tiku_name']").val();
      var filterTag = $("select[name='tag']").val();
      var printStatusOn = false;
      var printMessage = $("#print_display_flag").text();
      if(printMessage == "印刷オプションを表示する"){
          printStatusOn = true;
      }
      socket.emit('GetSearchTargetList', { searchTag: searchTag, isKako: isKako, filterJiin: filterJiin, filterTikuCode: filterTikuCode, filterTag: filterTag, printStatusOn: printStatusOn });
    }

    function goDankaDetail(id){
        var serchMoji = $("#serch_tag").val();
        var optionMoji = $("#print_display_flag").text();
        var optionId = 0;
        if (optionMoji == "印刷オプションを閉じる") {
            optionId = 1;
        }
        location.href = '/danka_detail_kihon?id=' + id + '&optionId=' + optionId + '&sm=' + serchMoji;
    }

    // GetTargetListメッセージを受けたとき
    socket.on('GetSearchTargetList', function(data, param) {
      
      var searchCount = 0;
      
      // ソート表記をクリア
      $('.th-sort span').html(' ▽');

      // まずは一度全て取り除く
      $('#target_list > tr').remove();
      
      // 検索結果がゼロの場合
      if(data.length ===0 ){

        html +=  "<tr>";
        html +=   "<td colspan = 10>";
        html +=     "<br>該当する結果が0件です。<br>";
        html +=     "<br>※1:キーワードが間違っていないか確認して下さい。";
        html +=     "<br>※2:複数のキーワードがある場合、and検索(全てのキーワードが含まれる)します。キーワードを減らしてみてください。";
        html +=   "</td>";
        html +=  "</tr>";
        $('#target_list').append(html);
      }
      // 検索結果が有る場合
      else{
        for(var i=0;i<data.length;i++){
        	var html = "";
            if(param.printStatusOn && data[i].report_if_id != ""){
                if(i % 2 == 0){
                    html += '<tr class="hidden table-selectable cursor-pointer">';    
                } else{
                    html += '<tr class="hidden even table-selectable cursor-pointer">';
                }
            }else{
                if(i % 2 == 0){
                    html += '<tr class="table-selectable cursor-pointer">';    
                } else{
                    html += '<tr class="even table-selectable cursor-pointer">';
                }
                searchCount++;                
            }

            if(param.printStatusOn){
                if(data[i].report_if_id == ""){
                    html +=   '<td class="checkbox_td hidden"><input type="checkbox" class="checkbox_default_list" name="target" value=' +data[i].member_id_kosyu + '></td>';
                }else{
                    html +=   '<td class="checkbox_td hidden"><input type="checkbox" class="checkbox_default_list" name="target" value=' +data[i].member_id_kosyu + ' checked></td>';
                }
            } else{
                if(data[i].report_if_id == ""){
                    html +=   '<td class="checkbox_td"><input type="checkbox" class="checkbox_default_list" name="target" value=' +data[i].member_id_kosyu + '></td>';
                }else{
                    html +=   '<td class="checkbox_td"><input type="checkbox" class="checkbox_default_list" name="target" value=' +data[i].member_id_kosyu + ' checked></td>';
                }
            }
            html +=   '<td onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
            html +=     data[i].name;
            html +=   "</td>";
            html +=   '<td class="hidden" onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
            html +=     data[i].furigana;
            html +=   "</td>";
            html +=   '<td onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
            html +=     data[i].tiku_name;
            html +=   "</td>";
            html +=   '<td onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
            if(isUndefine(data[i].tiku_number)){
                html += "-";
            }else{
                html +=     data[i].tiku_number;
            }
            html +=   "</td>";
            html +=   '<td onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
            html +=     data[i].tags;
            html +=   "</td>";
            html +=   '<td onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
            html +=     data[i].jiin;
            html +=   "</td>";
            if(param.printStatusOn){
                html +=   '<td onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
                html +=     data[i].is_arive;
                html +=   "</td>";
            } else{
                html += '<td class="hidden">' + data[i].is_arive + '</td>';
            }
            html +=   '<td class="hidden" onClick="goDankaDetail(' + data[i].member_id_kosyu + ')">';
            html +=     data[i].member_id_kosyu;
            html +=   "</td>";
            html +=  "</tr>";
  
          $('#target_list').append(html);
        }
        updatePrintDanka();
      }
      $('#search_count').text('[検索件数]：' + searchCount + '件');
    });

 $(function(){
    // ソートした表を表示する。（引数に渡した2次元配列から表を作成する。）
    function draw(tds) {
        var html = '';
        var isEven = false;

        // 印刷オプション表示していない場合は、チェックボックス表示は行わない（変数定義）
        var printStatusOn = false;
        var printMessage = $("#print_display_flag").text();
        if(printMessage == "印刷オプションを表示する"){
          printStatusOn = true;
        }
        $.each(tds, function(i, val) {
        // val[0]: checkbox
        // val[1]: name
        // val[2]: furigana(hidden)
        // val[3]: tiku_name
        // val[4]: tiku_number
        // val[5]: tags
        // val[6]: jiin
        // val[7]: is_arive
        // val[8]: member_id_kosyu(hidden)

            if(printStatusOn && val[0] == "1"){
                if(isEven){
                    html += '<tr class="hidden even table-selectable cursor-pointer">';
                    isEven = false; 
                }else{
                    html += '<tr class="hidden table-selectable cursor-pointer">'; 
                    isEven = true;
                }
            }else{
                if(isEven){
                    html += '<tr class="even table-selectable cursor-pointer">';
                    isEven = false; 
                }else{
                    html += '<tr class="table-selectable cursor-pointer">'; 
                    isEven = true;
                }                
            }
            
            if(!printStatusOn){
                if(val[0] == "1"){
                    html +=   '<td class="checkbox_td">';
                    html +=   '<input type="checkbox" class="checkbox_default_list" name="target" value=' +val[8] + ' checked></td>';
                    html +=   "</td>";
                }else{
                    html +=   '<td class="checkbox_td">';
                    html +=   '<input type="checkbox" class="checkbox_default_list" name="target" value=' +val[8] + '></td>';
                    html +=   "</td>";
                }
            }else{
                if(val[0] == "1"){
                    html +=   '<td class="checkbox_td hidden">';
                    html +=   '<input type="checkbox" class="checkbox_default_list" name="target" value=' +val[8] + ' checked></td>';
                    html +=   "</td>";
                }else{
                    html +=   '<td class="checkbox_td hidden">';
                    html +=   '<input type="checkbox" class="checkbox_default_list" name="target" value=' +val[8] + '></td>';
                    html +=   "</td>";                    
                }
            }

            html +=   '<td onClick="goDankaDetail(' + val[8] + ')">';
            html +=     val[1];
            html +=   "</td>";
            html +=   '<td class="hidden" onClick="goDankaDetail(' + val[8] + ')">';
            html +=     val[2];
            html +=   "</td>";
            html +=   '<td onClick="goDankaDetail(' + val[8] + ')">';
            html +=     val[3];
            html +=   "</td>";
            if(val[4] == "0"){
                html +=   '<td onClick="goDankaDetail(' + val[8] + ')">-</div>';
            }else{
                html +=   '<td onClick="goDankaDetail(' + val[8] + ')">';
                html +=     val[4];
                html +=   "</td>";
            }
            html +=   '<td onClick="goDankaDetail(' + val[8] + ')">';
            html +=     val[5];
            html +=   "</td>";
            html +=   '<td onClick="goDankaDetail(' + val[8] + ')">';
            html +=     val[6];
            html +=   "</td>";

            if(!printStatusOn){
                html +=   '<td class="hidden" onClick="goDankaDetail(' + val[8] + ')">';
                html +=     val[7];
                html +=   "</td>";
            }else{
                html +=   '<td onClick="goDankaDetail(' + val[8] + ')">';
                html +=     val[7];
                html +=   "</td>";
            }
            html +=   '<td class="hidden" onClick="goDankaDetail(' + val[8] + ')">';
            html +=     val[8];
            html +=   "</td>";
            html +=  "</tr>";
        });
        $('#target_list > tr').remove();
        $('#target_list').append(html);
    }

    $('.th-sort').click(function() {
        // 表の2次配列を作成する。
        var tableData = [];
        var tr = $(".table-sort tr");
        for( var i=0;i<tr.length;i++){
            // headerは処理対象外
            if(i==0){
                continue;
            }
            var cells = tr.eq(i).children();
            var testArray = [];
            for( var j=0;j<cells.length;j++){
                var itemText = cells.eq(j).text();
                // チェックボックス
                if(j == 0){
                    var checkboxStatus = cells.eq(0).children("input").prop("checked");
                    if(checkboxStatus){
                        testArray.push("1");
                    }else{
                        testArray.push("0");
                    }
                    continue;
                }else if(j == 4){
                    if(isUndefine(itemText) || itemText == "-"){
                        testArray.push("0");
                        continue;
                    }
                }else{
                    if(isUndefine(itemText)){
                        testArray.push("-");
                        continue;
                    }
                }
                testArray.push(itemText);
            }
            tableData.push(testArray);
        }

        // 検索結果が1行も存在しない場合は処理を中断する
        // 結果が1行もない場合、注意文を表記する為、1行目が通常の6列存在しないことをチェックする。
        if(!isUndefineForList(tableData) && tableData[0].length != 9){
            return false;    
        }

        // 表の2次配列を指定の列でソートする。
        var arrow = $('span', this);
        var col = $('th').index(this);
        // （個別）"氏名"でソートする場合は、"ふりがな"でソートする。
        if(col == 1){
            col = 2;
        }
        var isInteger = $(this).hasClass("isInteger");

        if (arrow.html() == ' ▼') {
            arrow.html(' ▲');
            if (isInteger){
                tableData.sort(function(a, b) { return Number(a[col]) < Number(b[col]) ? -1 : 1; });
            }else {
                tableData.sort(function(a, b) { return a[col] < b[col] ? -1 : 1; });
            }
        } else {
            arrow.html(' ▼');
            if (isInteger){
                tableData.sort(function(a, b) { return Number(b[col]) < Number(a[col]) ? -1 : 1; });
            }else {
                tableData.sort(function(a, b) { return b[col] < a[col] ? -1 : 1; });
            }
        }
        $(this).siblings().find('span').html(' ▽');
        draw(tableData);
    });
 });
</script>

<!---------------------------------------------------------------------------------------------------------
<!--SCRIPT定義（個別）-検索(50音)タブの定義
<!-------------------------------------------------------------------------------------------------------->
<script>
    $(function () {
        $(".ch-50on").click(function () {
            var onMoji = $(this).children(".main").text() + "～";
            $("#serch_tag").val(onMoji);
            GetSearchTargetList();
            ChangeTab("easy");
        });
    });
</script>

<!---------------------------------------------------------------------------------------------------------
<!--SCRIPT定義（個別）-戸主追加タブの定義
<!-------------------------------------------------------------------------------------------------------->
<script>
    <!-- 表中の偶数行の色を変える -->
    $(function(){

        // CELLに"undefine"が登録されていたら空白に変換
        $(".validate").formUtil("undefileToBlank");

        // checkboxのvalueに"checkMojiRetu（カンマ区切り）"が含まれる場合、check=trueにする。
        // original: 対象となるcheckbox
        // first: [List|String] : checkboxのvalueリスト
        // second: boolean : firstがStringならtrue,Listならfalse
        var tagsMoji = $("#tags_bak").val();
        $('[name="tags"]').formUtil("inputCheckbox", tagsMoji, true);

        // selectListのvalueを選択する。
        var jiinCode = $("#jiin_bak").val();
        $('[name="jiin_code"]').formUtil("selectList", jiinCode);

        // selectListのvalueを選択する。
        var sewaCode = $("#sewa_code_bak").val();
        $('[name="sewa_code"]').formUtil("selectList", sewaCode);

        // selectListのvalueを選択する。
        var tikuCode = $("#tiku_code_bak").val();
        $('[name="tiku_code"]').formUtil("selectList", tikuCode);

        // radioButtonのvalueを選択する。
        var dankaType = $("#danka_type_bak").val();
        $('[name="danka_type"]').formUtil("checkRadioButton", dankaType);

        // EnterKeyで次のCELLへ移動
        $(".enter-mv").formUtil("toNextCell");

        // 数字を入力するCELLからfocusが変わったタイミングで半角に変換する。
        $(".number").formUtil("convertNumberZenToHan");

        // メールを入力するCELLからfocusが変わったタイミングで半角に変換する。
        $(".mail").formUtil("convertMailZenToHan");

        // 郵便番号から住所を検索する。
        $("#zip-code-search").formUtil("searchZipCode");

        // EnterKeyをclick()イベントに変換する。(本当はメソッドチェーンしたいけど無理・・）
        $("#zip-code-search").formUtil("convertEnterToClick");

        // 登録ボタン押下時
        $("form").submit(function(){
            // formのバリデーションチェックを行う。
            var formInfoJson;
            $.ajaxSetup({async: false});  //同期通信開始(json取ってくるまで待つ)
            $.getJSON("conf/danka_tuika_form.json",function(json){
                formInfoJson = json[0];
            });  //サーバのpublic/confからバリデーション定義を取得する。
            $.ajaxSetup({async: true});  //同期通信終了
            
            // バリデーションチェックメイン処理
            var isError = $(".validate").formUtil("validationCheck", formInfoJson, 2);
            if(isError){
                return false;
            }

            // hiddenに世話人、地区名、担当[僧]を設定する
            var sewaName = $("select[name='sewa_code'] option:selected").text();
            var tikuName = $("select[name='tiku_code'] option:selected").text();
            var jiinName = $("select[name='jiin_code'] option:selected").text();
            $("input[name='sewa_name']").val(sewaName);
            $("input[name='tiku_name']").val(tikuName);
            $("input[name='jiin_name']").val(jiinName);
        });
    });
</script>
<script>
    $(function () {
        var optionId = $("#option_id").val();
        if(optionId == "1"){
            var b = $("#serch_moji").val();
            $("#serch_tag").val(b);
            $("#print_display_flag").click();
        }else if(optionId == "0"){
            var b = $("#serch_moji").val();
            $("#serch_tag").val(b);
            GetSearchTargetList();            
        }
    });

</script>
<script>
    // History API が使えるブラウザかどうかをチェック
    if (window.history && window.history.pushState) {
        //. ブラウザ履歴に１つ追加
        history.pushState("nohb", null);
        $(window).on("popstate", function (event) {
            //. このページで「戻る」を実行
            var a = event.originalEvent.state;
            var b = event.state;

            history.pushState("nohb", null);
            location.href = "/db_unupdatable";
            //if (!event.originalEvent.state) {
                //. もう一度履歴を操作して終了
                //history.pushState("nohb", null);
                //location.href = "http://www.google.com/";
                return;
            //}
        });
    }
</script>
</head>
<body>
<div id="container">
<!---------------------------------------------------------------------------------------------------------
<!--（共通部）ヘッダー & メニュー部分
<!-------------------------------------------------------------------------------------------------------->
    <div id="header">
        <div id="headerMain">
            <h1>長伝寺様向けカスタマイズ</h1>
        </div>
        <div id="headerLogo">
            <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
        </div>
    </div>
    <div id="inner">
        <div id="menu_box">
            <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
            <div id="menu">
                <nav>
                    <ul>
                        <li class="menu_disable"><span class="ja">スケジュール</span><span class="en">schedule</span>
                    </ul>
                    <ul>
                        <li class="menu_enable"><a href="/danka_base?id=0"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>
                        <li class="menu_disable"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
                        <li class="menu_disable"><span class="ja">台帳管理</span><span class="en">master</span>
                        <li class="menu_enable"><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
                    </ul>
                    <ul>
                        <li class="menu_disable"><span class="ja">備品管理</span><span class="en">stock-manage</span>
                        <li class="menu_disable"><span class="ja">寺院情報</span><span class="en">user-info</span>
                    </ul>
                </nav>
            </div>
        </div>

<!---------------------------------------------------------------------------------------------------------
<!-- メイン部
<!-------------------------------------------------------------------------------------------------------->
    <div id="wrapper">
    <!---------------------------------------------------------------------------------------------------------
    <!--（メイン部）タブのフィルタ部分
    <!-------------------------------------------------------------------------------------------------------->
      <div id="inner_title">
        <div id="title">
   	        <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <% if (tabId == "0"){ %>
                <li id="tab_search_easy" class="selected"><label>検索(簡易)</label>
                <li id="tab_search_50on"><label>検索(50音)</label>
                <li id="tab_add_kosyu"><label>戸主追加</label> 
            <%}else if(tabId == "1"){ %>
                <li id="tab_search_easy"><label>検索(簡易)</label>
                <li id="tab_search_50on" class="selected"><label>検索(50音)</label>
                <li id="tab_add_kosyu"><label>戸主追加</label> 
            <%}else if(tabId == "2"){%>
                <li id="tab_search_easy"><label>検索(簡易)</label>
                <li id="tab_search_50on"><label>検索(50音)</label>
                <li id="tab_add_kosyu" class="selected"><label>戸主追加</label> 
            <%}%> 
          </ul>
        </div>
      </div>

    <!---------------------------------------------------------------------------------------------------------
    <!--（メイン部）検索(簡易)タブのフィルタ部分
    <!-------------------------------------------------------------------------------------------------------->
    <% if (tabId == "0"){ %>
        <div id="inner_filter_eary_search">
    <%} else{%>
        <div id="inner_filter_eary_search" class="hidden">
    <%}%>
      
          <div id="inner_fiter_sum" class="row">
              <div class="col col-sm-8">
                <label id="search_count">[検索件数]：件</label>          
              </div>
              <div class="col col-sm-4 text-left">
                <label id="print_display_flag" class="cursor-pointer text-underline">印刷オプションを表示する</label>
              </div>
              <input type="hidden" name="search_updatable" value="1">
              <input type="hidden" name="printflg_updatable" value="1">
          </div>

          <!---------------------------------------------------------------------------------------------------------
          <!-- 検索フィルタ部分
          <!-------------------------------------------------------------------------------------------------------->
          <div id="inner_filter_main_easy_search">
            <div class="row">
                <div class="col col-sm-10 padding-right-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group margin-bottom-default">
                        <span class="input-group-addon">名前</span>
                        <% if (tabId == "0"){ %>
                            <input type="text" id="serch_tag" class="form-control sp_check input-sm" placeholder="名前の一部を入力して下さい（フリガナ、漢字どちらでも入力できます）" onkeydown="if(event.keyCode == 13){GetSearchTargetList();}" autofocus>
                        <%} else{%>
                            <input type="text" id="serch_tag" class="form-control sp_check input-sm" placeholder="名前の一部を入力して下さい（フリガナ、漢字どちらでも入力できます）" onkeydown="if(event.keyCode == 13){GetSearchTargetList();}">
                        <%}%>
                    </div>
                </div>
                <div class="col col-sm-2 padding-right-zero text-left">
                    <div id="checkbox_kojin" class="checkbox margin-bottom-zero">
                        <input type="checkbox" id="id_2" class="is_kako checkbox_default"><label for="id_2">故人含む</label>
                    </div>
                </div>
            </div>

            <div class="row top-margin-sm left">
                <div class="col col-sm-3 padding-right-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">寺院</span>
                        <select class="form-control input-sm" name="jiin">
                            <option value=0>---</option>
                            <option value="長伝寺">長伝寺</option>
                            <option value="水月寺">水月寺</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-3 padding-right-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">地区</span>
                        <select class="form-control input-sm" name="tiku_name">
                        <% for(var i in tikuCodeInfo){
                            var _tikuCode = tikuCodeInfo[i].tiku_code;
                            var _tikuName = tikuCodeInfo[i].tiku_name; %>
                            <option value=<%= _tikuCode %>><%= _tikuName %></option>
                        <%}%>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-4 padding-right-zero">
                    <!-- TOP検索tag -->
                    <div class="input-group">
                        <span class="input-group-addon">タグ</span>
                        <select class="form-control input-sm" name="tag">
                        <option value=0>---</option>
                        <% for(var i in tagCodeInfo){
                            var _tagCode = tagCodeInfo[i].tags_id;
                            var _tagName = tagCodeInfo[i].tags; %>
                            <option value=<%= _tagName %>><%= _tagName %></option>
                        <%}%>
                    </select>
                    </div>
                </div>
                <div class="col col-sm-2 padding-right-zero text-left">
                    <button class="btn btn-success btn-sm" onclick="GetSearchTargetList()">　検索　</button>
                    <!-- /input-group -->
                </div>
             </div>
          </div>


          <!---------------------------------------------------------------------------------------------------------
          <!-- 印刷オプション部分
          <!-------------------------------------------------------------------------------------------------------->
          <div id="inner_main_print" class="hidden">
            <div class="row left">
                <div id="print-comment" class="col col-sm-12 padding-right-zero text-left">
                    <label>[印刷オプション] ※検索表示された檀家に対し、指定した帳票で印刷を行います。</label>
                </div>
            </div>
            <div class="row">
                <div class="col col-sm-4 padding-right-zero left">
                    <div class="input-group">
                        <span class="input-group-addon">帳票名</span>
                        <select id="select_type" name="select_type" class="form-control input-sm" onChange="SendSelectReportType()">
                            <option value=9999 >-</option>
                            <% for(var i=0; i<page.data.length; i++) {%>
                            <option value=<%= page.data[i].report_type_no %>><%= page.data[i].report_type_name %></option>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-6 padding-right-zero left">
                    <div class="input-group">
                        <span class="input-group-addon">種類</span>
                        <select id="select_template" name="select_template" class="form-control input-sm">
                            <option value=9999>-</option>
                        </select>
                    </div>
                </div>
                <div class="col col-sm-2 padding-right-zero text-left">
                    <button class="btn btn-warn btn-sm" onclick="PrintTyohyo()">　印刷　</button>
                </div>
            </div>
            <div class="row left">
                <div id="all_checkbox" class="col col-sm-12 padding-left-zero margin-top-default text-left">
                    <input type="checkbox" id="id_1" class="checkbox_default" name="all_check"><label for="id_1" class="cursor-pointer">すべて選択する</label>
                </div>
            </div>
              <div id="dialogtest">
              <p>test</p>
              </div>
        </div>
      </div>

    <!---------------------------------------------------------------------------------------------------------
    <!--（メイン部）検索(簡易)タブの検索結果表示部分
    <!-------------------------------------------------------------------------------------------------------->
    <% if (tabId == "0"){ %>
        <div id="inner_main_easy_search">
    <%} else{%>
        <div id="inner_main_easy_search" class="hidden">
    <%}%>
          <div class="table_main_result">
            <div class="row">
              <div class="col col-sm-12 left">
                <table class="table table-sort table-bordered table-condensed">
                    <thead>
                        <tr>
                            <!-- <th id="table_member_id_th" class="th-sort header-selectable cursor-pointer isInteger">ID<span> ▼</span></th> -->
                            <th id="table_print_ck" class="hidden th-sort header-selectable cursor-pointer">ck<span> ▽</span></th>
                            <th id="table_name_full_th" class="th-sort header-selectable cursor-pointer">氏名<span> ▽</span></th>
                            <th id="table_name_furigana_th" class="hidden">ふりがな<span></span></th>
                            <th id="table_tiku_name_th" class="th-sort header-selectable cursor-pointer">地区名<span> ▽</span></th>
                            <th id="table_tiku_number_th" class="th-sort header-selectable cursor-pointer isInteger">地区No<span> ▽</span></th>
                            <th id="table_tag_th" class="th-sort header-selectable cursor-pointer">タグ<span> ▽</span></th>
                            <th id="table_jiin_th" class="th-sort header-selectable cursor-pointer">寺院<span> ▽</span></th>
                            <th id="table_kako_th" class="th-sort header-selectable cursor-pointer">故<span> ▽</span></th>
                            <th id="table_member_id_kosyu_th" class="hidden">ID-戸主<span></span></th>
                        </tr>
                    </thead>
                    <tbody id="target_list" >
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      <form action="/danka_detail_kihon" method="post" id="danka_detail_kihon_form">
        <input type="hidden" class="test_aaa" name="member_id" value="aaa">
      </form>
    <!---------------------------------------------------------------------------------------------------------
    <!--（メイン部）検索(50音)タブ
    <!-------------------------------------------------------------------------------------------------------->
    <% if (tabId == "1"){ %>
        <div id="inner_main_50on">
    <%} else{%>
        <div id="inner_main_50on" class="hidden">
    <%}%>
        <div class="title_comment">
   	      ★検索する名前の頭一文字のひらがなをクリックしてください。
        </div>
          <div id="table_main_50on" >
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th id="a">あ行</td>
                  <th id="ka">か行</td>
                  <th id="sa">さ行</td>
                  <th id="ta">た行</td>
                  <th id="na">な行</td>
                  <th id="ha">は行</td>
                  <th id="ma">ま行</td>
                  <th id="ra">や行</td>
                  <th id="ya">ら行</td>
                  <th id="wa">わ行</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="table-selectable ch-50on"><span class="main">あ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">か</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">さ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">た</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">な</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">は</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ま</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">や</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ら</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">わ</span><span class="count"></span></td>
                </tr>
                <tr class="even">
                  <td class="table-selectable ch-50on"><span class="main">い</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">き</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">し</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ち</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">に</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ひ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">み</span><span class="count"></span></td>
                  <td><span class="main"></span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">り</span><span class="count"></span></td>
                  <td><span class="main"></span><span class="count"></span></td>
                </tr>
                <tr>
                  <td class="table-selectable ch-50on"><span class="main">う</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">く</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">す</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">つ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ぬ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ふ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">む</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ゆ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">る</span><span class="count"></span></td>
                  <td><span class="main"></span><span class="count"></span></td>
                </tr>
                <tr class="even">
                  <td class="table-selectable ch-50on"><span class="main">え</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">け</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">せ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">て</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ね</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">へ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">め</span><span class="count"></span></td>
                  <td><span class="main"></span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">れ</span><span class="count"></span></td>
                  <td><span class="main"></span><span class="count"></span></td>
                </tr>
                <tr>
                  <td class="table-selectable ch-50on"><span class="main">お</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">こ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">そ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">と</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">の</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ほ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">も</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">よ</span><span class="count"></span></td>
                  <td class="table-selectable ch-50on"><span class="main">ろ</span><span class="count"></span></td>
                  <td><span class="main"></span><span class="count"></span></td>
                </tr>
              </tbody>
            </table>
            <div id="50on_other">
                <table>
                    <tbody>
                        <tr>
                            <td class="table-selectable ch-50on width_300"><span class="main">英文字</span><span class="sub">（A～Z、a～z等）</span><span class="count"></span></td>
                            <td class="width_30"><span class="main"></span><span class="count"></span></td>
                            <td class="table-selectable ch-50on width_300"><span class="main">その他文字</span><span class="count"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
      </div>

    <!---------------------------------------------------------------------------------------------------------
    <!--（メイン部）戸主追加タブ
    <!-------------------------------------------------------------------------------------------------------->
    <% if (tabId == "2"){ %>
        <div id="inner_main_tuika">
    <%} else{%>
        <div id="inner_main_tuika" class="hidden">
    <%}%>
        <div class="title_comment">
   	      ★登録内容を入力し、本ページ一番下の登録ボタンを押してください。
        </div>
        <form action="/danka_tuika_conform" method="post">
          <div class="margin-top-default">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th class="table-header-item-width-default">登録項目</td>
                  <th class="table-header-naiyo-width-default">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label class="padding-default">登録区分</label></td>
                  <td class="table-selectable">
                    <div class="style-danka-type">
                      <input type="radio" name="danka_type" class="dummay" value="0" checked>檀家
                      <input type="radio" name="danka_type" class="dummay" value="1">信徒
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <label class="padding-default">戸主名</label>
                      <img class="style-mark-in-table" src="img/test.png" width="40" height="20" alt="require"/>
                  </td>
                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">姓</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                      <% if (tabId == "2"){ %>
                        <input type="text" name="name_sei" id="name_sei" value="<%= webItemJson.name_sei %>" class="form-control input-sm validate require sp_check duplicate enter-mv" autofocus>
                      <%} else{%>
                        <input type="text" name="name_sei" id="name_sei" value="<%= webItemJson.name_sei %>" class="form-control input-sm validate require sp_check duplicate enter-mv">
                      <%}%>
                      </div>
                      <div class="col col-sm-1 style-name-in-table">名</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="name_na" value="<%= webItemJson.name_na %>" class="form-control input-sm validate require sp_check duplicate_end enter-mv">
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <label class="padding-default">ふりがな</label>
                      <img class="style-mark-in-table" src="img/test.png" width="40" height="20" alt="require"/>
                  </td>
                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">せい</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="furigana_sei" value="<%= webItemJson.furigana_sei %>" class="form-control input-sm validate require sp_check duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-name-in-table">めい</div>
                      <div class="col col-sm-5 padding-left-zero padding-top-bottom-default">
                        <input type="text" name="furigana_na" value="<%= webItemJson.furigana_na %>" class="form-control input-sm validate require sp_check duplicate_end enter-mv">
                      </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">郵便番号</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="zip_code_pre" value="<%= webItemJson.zip_code_pre %>" class="form-control input-sm validate number duplicate enter-mv aaa">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="zip_code_last" value="<%= webItemJson.zip_code_last %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-5 style-name-in-table">
                        <button type="button" class="btn btn-success btn-xs enter-mv">住所検索</button>
                      </div>

                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">都道府県</label></td>
                  <td class="table-selectable">
                  <div class="col col-sm-3 padding-default">
                    <input type="text" name="region" value="<%= webItemJson.region %>" class="form-control input-sm validate sp_check enter-mv">
                  </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">市区町村</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-4 padding-default">
                      <input type="text" name="city" value="<%= webItemJson.city %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">番地</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-12 padding-default">
                      <input type="text" name="address_line1" value="<%= webItemJson.address_line1 %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">ビル名等</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-12 padding-default">
                      <input type="text" name="address_line2" value="<%= webItemJson.address_line2 %>" class="form-control input-sm validate sp_check enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">生年月日</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_y" value="<%= webItemJson.birthday_y %>" class="form-control input-sm chenge_check validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">年</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_m" value="<%= webItemJson.birthday_m %>" class="form-control input-sm chenge_check validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">月</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_d" value="<%= webItemJson.birthday_d %>" class="form-control input-sm chenge_check validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-4 style-string-in-table">日</div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先1)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_1" value="<%= webItemJson.telno_pre_1 %>" class="form-control input-sm validate number tel duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_1" value="<%= webItemJson.telno_mid_1 %>" class="form-control input-sm validate number tel duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_1" value="<%= webItemJson.telno_last_1 %>" class="form-control input-sm validate number tel duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_1" value="<%= webItemJson.telno_yoto_1 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先2)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_2" value="<%= webItemJson.telno_pre_2 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_2" value="<%= webItemJson.telno_mid_2 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_2" value="<%= webItemJson.telno_last_2 %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      </span>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_2" value="<%= webItemJson.telno_yoto_2 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">電話番号(優先3)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_pre_3" value="<%= webItemJson.telno_pre_3 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_mid_3" value="<%= webItemJson.telno_mid_3 %>" class="form-control input-sm validate number duplicate enter-mv">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">ー</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="telno_last_3" value="<%= webItemJson.telno_last_3 %>" class="form-control input-sm validate number duplicate_end enter-mv">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-4 padding-default">
                        <input type="text" name="telno_yoto_3" value="<%= webItemJson.telno_yoto_3 %>" class="form-control input-sm validate sp_check enter-mv">
                      </div>
                    </td>
                </tr>

                <tr>
                  <td><label class="padding-default">Email(優先1)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_1" value="<%= webItemJson.mail_address_1 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_1" value="<%= webItemJson.mail_yoto_1 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">Email(優先2)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_2" value="<%= webItemJson.mail_address_2 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_2" value="<%= webItemJson.mail_yoto_2 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">Email(優先3)</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-7 padding-default">
                        <input type="text" name="mail_address_3" value="<%= webItemJson.mail_address_3 %>" class="form-control input-sm validate mail enter-mv mail">
                      </div>
                      <div class="col col-sm-2 style-yoto-string text-right">用途</div>
                      <div class="col col-sm-3 padding-default">
                        <input type="text" name="mail_yoto_3" value="<%= webItemJson.mail_yoto_3 %>" class="form-control input-sm validate sp_check style-yoto-input-text enter-mv">
                      </div>
                    </td>
                </tr>
                <tr>
                  <td><label class="padding-default">職業</label></td>
                  <td class="table-selectable">
                    <div class="col col-sm-4 padding-default">
                        <input type="text" name="job" value="<%= webItemJson.job %>" class="form-control input-sm validate sp_check job_size enter-mv">
                    </div>
                  </td>
                </tr>
                <tr>
                 <td><label class="padding-default">所属寺</label></td>
                 <td class="table-selectable padding-default">
                    <div class="padding-left-default">
                        <select name="jiin_code" class="form-control input-sm select-size-default enter-mv">
                            <option value="0" selected>---</option>
                            <option value="1">長伝寺</option>
                            <option value="2">水月寺</option>
                        </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">地区名</label></td>
                  <td class="table-selectable">
                    <div class="padding-left-default">
                        <select name="tiku_code" class="form-control input-sm select-size-default enter-mv" >
                        <% for(var i in tikuCodeInfo){
                            var _tikuCode = tikuCodeInfo[i].tiku_code;
                            var _tikuName = tikuCodeInfo[i].tiku_name; %>
                            <option value=<%= _tikuCode %>><%= _tikuName %></option>
                        <% } %>
                        </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">世話人</label></td>
                  <td class="table-selectable">
                    <div class="padding-left-default">
                        <select name="sewa_code" class="form-control input-sm select-size-default enter-mv" >
                        <% for(var i in sewaCodeInfo){
                            var _sewaCode = sewaCodeInfo[i].sewa_code;
                            var _sewaName = sewaCodeInfo[i].sewa_name; %>
                            <option value=<%= _sewaCode %>><%= _sewaName %></option>
                        <% } %>
                        </select>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">タグ</label></td>
                  <td class="table-selectable">
                    <div id="danka_tuika_tag" class="padding-default">
                      <% 
                         var count = 1;
                         for(var i in tagCodeInfo){
                            count++;
                            var _tagName = tagCodeInfo[i].tags; 
                            %>
                            <input type="checkbox" name="tags" class="checkbox_default" value="<%= _tagName %>"><label><%= _tagName %></label>
                            <%
                            if(count>5){
                                count=1;
                            %>      
                            <br>
                            <%}%>                      
                      <%}%>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">備考<br>※500文字以内</label></td>
                  <td class="table-selectable padding-default">
                     <div class="col col-sm-12 padding-default">
                        <textarea name="comment" class="form-control input-sm validate sp_check enter-mv"><%= webItemJson.comment %></textarea></p>
                     </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row">
                <div class="col col-sm-12">
                    <button type="submit" class="btn btn-success btn-lg">　登録　</button>
                </div>
            </div>
          </div>
          <input type="hidden" name="tiku_name" value="dummy">
          <input type="hidden" name="sewa_name" value="dummy">
          <input type="hidden" name="jiin_name" value="dummy">
          <input type="hidden" id="danka_type_bak" value="<%= webItemJson.danka_type %>">
          <input type="hidden" id="tags_bak" value="<%= webItemJson.tags %>">
          <input type="hidden" id="jiin_bak" value="<%= webItemJson.jiin %>">
          <input type="hidden" id="tiku_code_bak" value="<%= webItemJson.tiku_code %>">
          <input type="hidden" id="sewa_code_bak" value="<%= webItemJson.sewa_code %>">          
        </form>
      </div>
      <input type="hidden" id="option_id" value=<%= optionId %>>
      <input type="hidden" id="serch_moji" value="<%= serchMoji %>">
            
    </div>
  </div>

<!---------------------------------------------------------------------------------------------------------
<!-- フッター部
<!-------------------------------------------------------------------------------------------------------->
  <div id="footer" class="aaa">
    <div id="footer_main">
      <p>copyright&copy;2015&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  </div>
</div>
</body>
</html>
