<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka">
<link rel="stylesheet" href="stylesheets/zen_parts_danka.css" type="text/css" id="zen_parts_danka">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<script>
 <!-- 表中の偶数行の色を変える -->
 $(function(){
     $("form").submit(function(){
         // hiddenに世話人、地区名を設定する
         var sewaName = $("select[name='sewa_code'] option:selected").text();
         var tikuName = $("select[name='tiku_code'] option:selected").text();
         $("input[name='sewa_name']").val(sewaName);
         $("input[name='tiku_name']").val(tikuName);
     });
 });
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">

      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><span class="ja">スケジュール</span><span class="en">schedule</span>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
            <li><span class="ja">台帳管理</span><span class="en">master</span>
            <li><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><span class="ja">備品管理</span><span class="en">stock-manage</span>
            <li><span class="ja">寺院情報</span><span class="en">user-info</span>
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div id="inner_title">
        <div id="title">
   	  <h2><span class="ja">檀家管理</span><span class="en">danka manage</span></h2>
        </div>
        <div id="menu_sub">
          <ul>
            <li><a href="/danka_syosai_new">検索(簡易)</a>
            <li><a href="/danka_50">検索(50音)</a> 
            <li><a href="/danka_syosai">検索(詳細)</a>
            <li><a href="/danka_tuika">戸主追加</a> 
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div id="inner_main">
        <div class="title_comment_syosai">
   	      <label>★一部項目のみの入力で検索可能です。</label>
        </div>
        <form action="/danka_syosai_search" method="post">
          <div class="table_main_syosai">
            <table>
              <thead>
                <tr id="header">
                  <th id="newtype">検索項目</td>
                  <th id="newnaiyo">検索内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="name_type">戸主名</td>
                  <td id="name" class="table_main_syosai_selectable">
                      <label for="name_seimei">姓: </label><input type="text" name="name_sei" class="text_size">
                      <label for="name_seimei">名: </label><input type="text" name="name_na" class="text_size">
                  </td>
                </tr>
                <tr>
                  <td id="furigana_type">ふりがな</td>
                  <td id="furigana" class="table_main_syosai_selectable">
                      <label for="furi_seimei">せい: </label><input type="text" name="furigana_sei" class="text_size">
                      <label for="furi_namae">めい: </label><input type="text" name="furigana_na" class="text_size">
                  </td>
                </tr>
                <tr>
                  <td id="tiku_type">地区名</td>
                  <td id="tiku" class="table_main_syosai_selectable">
                     <select id="tiku_list"  name="tiku_code" >
                      <% for(var i in tikuCodeInfo){
                         var _tikuCode = tikuCodeInfo[i].tiku_code;
                         var _tikuName = tikuCodeInfo[i].tiku_name; %>
                         <option value=<%= _tikuCode %>><%= _tikuName %></option>
                         <%}%>
                     </select>
                  </td>
                </tr>
                <tr>
                  <td id="sewa_type">世話人</td>
                  <td id="sewa" class="table_main_syosai_selectable">
                     <select id="sewa_list" name="sewa_code" >
                       <% for(var i in sewaCodeInfo){
                         var _sewaCode = sewaCodeInfo[i].sewa_code;
                         var _sewaName = sewaCodeInfo[i].sewa_name; %>
                         <option value=<%= _sewaCode %>><%= _sewaName %></option>
                         <%}%>
                     </select>
                     <label for="furi_namae"></label>
                  </td>
                </tr>
                <tr>
                 <td id="jiin_type">所属寺</td>
                  <td id="jiin" class="table_main_syosai_selectable">
                      <input type="checkbox" name="jiin" value="1"><label for="jiin_tyodenji">長伝寺</label>
                      <input type="checkbox" name="jiin" value="2"><label for="jiin_suigetuji">水月寺</label>
                  </td>
                </tr>
                <tr>
                  <td id="tags">タグ</td>
                  <td id="tag" class="table_main_syosai_selectable">
                      <% 
                         var count = 1;
                         for(var i in tagsInfo){
                            count++;
                            var _tagName = tagsInfo[i].tags; 
                            %>
                            <input type="checkbox" name="tags" value="<%= _tagName %>"><label for="tag_name"><%= _tagName %></label>
                            <%
                            if(count>5){
                                count=1;
                            %>      
                            <br>
                            <%}%>                      
                      <%}%>
                  </td>
                </tr>
                <tr>
                  <td id="isArive">生死</td>
                  <td id="isArive" class="table_main_syosai_selectable">
                    <input type="checkbox" name="include_kojin" value="1">故人含む
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="syosai_submit"><input type="submit" value="検索" id="submit"></div>
         </form>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>