<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka_detail">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_common.css" type="text/css" id="danka_detail_common">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_kako_kihon.css" type="text/css" id="danka_detail_kihon">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/util.js"></script>
<script src="js/dankaInfo.js"></script>
<%
    var memberId = kosyuInfo.member_id;
    var dankaType = kosyuInfo.danka_type;
	var dankaTypeDanka = "○";
	var dankaTypeShinto = "-";
	if (dankaType === 1){
	    dankaTypeDanka = "-";
	    dankaTypeShinto = "○";
    }
    var nameSei = kosyuInfo.name_sei;
    var nameNa = kosyuInfo.name_na;
    var nameFull = nameSei + "　" + nameNa;
    var tikuName = kosyuInfo.tiku_name;
    var sewaName = kosyuInfo.sewa_name;
    var tikuCode = kosyuInfo.tiku_code;
    var sewaCode = kosyuInfo.sewa_code;
%>
<%
    var memberIdKako = dankaInfo.member_id;  
    var nameSeiKako = dankaInfo.name_sei;
    var nameNaKako = dankaInfo.name_na;
    var furiganaSeiKako = dankaInfo.furigana_sei;
    var furiganaNaKako = dankaInfo.furigana_na;
    var kaimyoKako = dankaInfo.kaimyo;
    var kaimyoFuriganaKako = dankaInfo.kaimyo_furigana;
    var sexKako = dankaInfo.sex;
    var relationKako = dankaInfo.relation;
    var birthdayYKako = dankaInfo.birthday_y;
    var birthdayMKako = dankaInfo.birthday_m;
    var birthdayDKako = dankaInfo.birthday_d;
    var meinichiYKako = dankaInfo.meinichi_y;
    var meinichiMKako = dankaInfo.meinichi_m;
    var meinichiDKako = dankaInfo.meinichi_d;
    var sesyuSeiKako = dankaInfo.sesyu_sei;
    var sesyuNaKako = dankaInfo.sesyu_na;
    var commentKako = dankaInfo.comment;
%>
<%
    var tagsKako = dankaInfo.tags;
%>
<script>
    $(function () {

        // ページ遷移定義
        $("#return").click(function () {
            $("#danka_detail_kako_form").submit();
        });
        $(".menu_sub_kihon").click(function () {
            $("#danka_detail_kihon_form").submit();
        });
        $(".menu_sub_kako").click(function () {
            $("#danka_detail_kako_form").submit();
        });
        $(".menu_sub_genzai").click(function () {
            $("#danka_detail_genzai_form").submit();
        });
        $(".menu_sub_nenkaiki").click(function () {
            $("#danka_detail_nenkaiki_form").submit();
        });
        $(".menu_sub_kihu").click(function () {
            $("#danka_detail_kihu_form").submit();
        });
        $(".menu_sub_omairi").click(function () {
            $("#danka_detail_omairi_form").submit();
        });

        // 更新時のバリデーションチェック
        $("#main_form").submit(function () {
            // エラーの初期化
            $("p.error").remove();
            $("td").removeClass("error");

            var isDuplicate = "0";
            // エラーチェック
            $("input[type='text'].validate").each(function () {
                // 必須項目チェック
                if ($(this).hasClass("require")) {
                    if($(this).val() == ""){
                        if($(this).hasClass("duplicate_pre")){
                            isDuplicate = "1";
                            $(this).parent().append("<p class='error'>値が設定されていません。</p>");
                            $(this).parent().addClass("error");
                        } else if($(this).hasClass("duplicate_end") && isDuplicate == "1"){
                            isDuplicate = "0";
                        } else {
                            $(this).parent().append("<p class='error'>値が設定されていません。</p>");
                            $(this).parent().addClass("error");
                        }
                    }
                }
                // 数字項目チェック
                if ($(this).hasClass("number")) {
                    if (isNaN($(this).val())) {
                        $(this).parent().append("<p>数値が設定されていません。</p>");
                        $(this).parent().addClass("error");
                    }
                }
            });

            // エラーチェック
            if ($("p.error").length > 0) {
                return false;
            }

            // テキスト項目の差分チェックを実施
            var isChange = false;
            $(".chenge_check").each(function () {
                var key = $(this).attr("name");
                var value = $(this).val();
                $(".chenge_check_bk").each(function () {
                    if ($(this).hasClass(key)) {
                        var valueBk = $(this).val();
                        if (value !== valueBk) {
                            isChange = true;
                            return false;
                        }
                        return false;
                    }
                });

                if (isChange) {
                    return true;
                }
            });

            // radio項目の差分比較
            var sexAfter = $("input[name='sex_kako']:checked").val();
            var sexBk = $("input[name='sex_kako_bk']").val();

            if (sexAfter !== sexBk) {
                isChange = true;
            }

            // テキストエリアの差分比較
            var commentAfter = $("textarea[name='comment_kako']").val();
            var commentBk = $("input[name='comment_kako_bk']").val();

            if (commentAfter !== commentBk) {
                isChange = true;
            }

            // チェックボックスの差分比較
            var checkTags = "";
            $("input[name='tags_kako']:checked").each(function () {
                var _tagId = $(this).val();
                var _tagName = $(this)[0].nextSibling.nodeValue;
                var _tagNameTrim = jQuery.trim(_tagName);
                if (isUndefine(checkTags)) {
                    checkTags = _tagNameTrim;
                    return true;
                }
                checkTags = checkTags + "," + _tagNameTrim;
                return true;
            });

            var tagsBk = $("input[name='tags_kako_bk']").val();
            if (checkTags !== tagsBk) {
                isChange = true;
            }
            $("input[name='tags']").val(checkTags);

            // 値が何も変更されていない場合は、ポップアップを出力する。
            if (!isChange) {
                alert("変更されていません。");
                return false;
            }
        });
    });
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><span class="ja">スケジュール</span><span class="en">schedule</span>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
            <li><span class="ja">台帳管理</span><span class="en">master</span>
            <li><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><span class="ja">備品管理</span><span class="en">stock-manage</span>
            <li><span class="ja">寺院情報</span><span class="en">user-info</span>
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div class="inner_title">
        <div class="title">
   	      <h2><span class="ja">檀家管理詳細</span><span class="en">danka detail infomation</span></h2>
        </div>
        <div class="kosyu_info">
   	      <table>
              <thead>
                <tr>
                  <th class="kosyu_info_kosyu_th">戸主名</th>
                  <th class="kosyu_info_type_danka_th">檀家</th>
                  <th class="kosyu_info_type_shinto_th">信徒</th>
                  <th class="kosyu_info_tiku_th">地区</th>
                  <th class="kosyu_info_sewa_th">世話人</th>
                </tr>
              </thead>
              <tbody>
                <tr id="<%= memberId %>">
                  <td class="table_name_full"><%= nameFull %></td>
                  <td class="table_danka_type_danka"><%= dankaTypeDanka %></td>
                  <td class="table_danka_type_shinto"><%= dankaTypeShinto %></td>
                  <td id="<%= tikuCode %>" class="table_tiku_name"><%= tikuName %></td>
                  <td id="<%= sewaCode %>" class="table_sewa_name"><%= sewaName %></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="menu_sub">
          <ul>
            <li class="menu_sub_kihon">基本情報 
            <li class="menu_sub_kako">過去帳
            <li class="menu_sub_nenkaiki_dummy">年回忌
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div class="inner_main">
        <form action="danka_detail_kako_confirm" id="main_form" method="post">
          <div class="table_main_kihon">
            <table>
              <thead>
                <tr class="table_main_kihon_header">
                  <th class="table_main_kihon_header_komoku">登録項目</td>
                  <th class="table_main_kihon_header_naiyo">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="name_type">俗名 ※必須</td>
                  <td id="name" class="table_main_tuika_selectable">
                      <label for="name_seimei">姓: </label><input type="text" name="name_sei_kako" class="chenge_check validate require duplicate_pre" value="<%= nameSeiKako %>">
                      <label for="name_seimei">名: </label><input type="text" name="name_na_kako" class="chenge_check validate require duplicate_end" value="<%= nameNaKako %>">
                  </td>
                </tr>
                <tr>
                  <td id="furigana_type">俗名（ふりがな）</td>
                  <td id="furigana" class="table_main_tuika_selectable">
                      <label for="furi_seimei">せい: </label><input type="text" name="furigana_sei_kako" class="chenge_check validate duplicate_pre" value="<%= furiganaSeiKako %>">
                      <label for="furi_namae">めい: </label><input type="text" name="furigana_na_kako" class="chenge_check validate duplicate_end" value="<%= furiganaNaKako %>">
                  </td>
                </tr>
                <tr>
                  <td id="kaimyo_type">戒名</td>
                  <td id="kaimyo" class="table_main_tuika_selectable">
                    <input type="text" name="kaimyo_kako" class="chenge_check validate duplicate_end kaimyo_size" value="<%= kaimyoKako %>">
                  </td>
                </tr>
                <tr>
                  <td id="kaimyo_type">戒名（ふりがな）</td>
                  <td id="kaimyo_furigana" class="table_main_tuika_selectable">
                    <input type="text" name="kaimyo_furigana_kako" class="chenge_check validate duplicate_end kaimyo_size" value="<%= kaimyoFuriganaKako %>">
                  </td>
                </tr>
                <tr>
                  <td id="sex_type">性別(※必須)</td>
                  <td id="sex" class="table_main_tuika_selectable">
                      <%
                      if(sexKako == "1"){
                      %>
                        <input type="radio" name="sex_kako" class="dummy" value="1" checked><label for="man">男</label>
                        <input type="radio" name="sex_kako" class="dummy" value="2"><label for="woman">女</label>                
                      <%
                      }else{
                      %>
                        <input type="radio" name="sex_kako" class="dummy" value="1"><label for="man">男</label>
                        <input type="radio" name="sex_kako" class="dummy" value="2" checked><label for="woman">女</label>                 
                      <%
                      }
                      %>
                  </td>
                </tr>
                <tr>
                  <td id="birthday_type">生年月日</td>
                  <td id="birthday" class="table_main_tuika_selectable">
                       <input type="text" name="birthday_y_kako" class="chenge_check validate number telno_size" value="<%= birthdayYKako %>">
                       年 <input type="text" name="birthday_m_kako" class="chenge_check validate number telno_size" value="<%= birthdayMKako %>">
                       月 <input type="text" name="birthday_d_kako" class="chenge_check validate number telno_size" value="<%= birthdayDKako %>">
                       日
                  </td>
                </tr>
                <tr>
                  <td id="meinichi_type">命日</td>
                  <td id="meinichi" class="table_main_tuika_selectable">
                       <input type="text" name="meinichi_y_kako" class="chenge_check validate number telno_size" value="<%= meinichiYKako %>">
                       年 <input type="text" name="meinichi_m_kako" class="chenge_check validate number telno_size" value="<%= meinichiMKako %>">
                       月 <input type="text" name="meinichi_d_kako" class="chenge_check validate number telno_size" value="<%= meinichiDKako %>">
                       日
                  </td>
                </tr>
                <tr>
                  <td id="kyonen_type">享年</td>
                  <td id="kyonen" class="chenge_check table_main_tuika_selectable">
                      <script>
                          calculateAge("<%= birthdayYKako %>", "<%= birthdayMKako %>", "<%= birthdayDKako %>", "<%= meinichiYKako %>", "<%= meinichiMKako %>", "<%= meinichiDKako %>");
                      </script>
                      ※生年月日と命日から自動算出しています。
                  </td>
                </tr>
                <tr>
                  <td id="sesyu_name">施主</td>
                  <td id="name" class="table_main_tuika_selectable">
                      <label for="name_seimei">姓: </label><input type="text" name="sesyu_sei_kako" class="chenge_check" value="<%= sesyuSeiKako %>">
                      <label for="name_seimei">名: </label><input type="text" name="sesyu_na_kako" class="chenge_check" value="<%= sesyuNaKako %>">
                  </td>
                </tr>
                <tr>
                  <td id="kosyu_name">施主から見た続柄</td>
                  <td id="relation" class="table_main_tuika_selectable">
                      <input type="text" name="relation_kako" class="chenge_check" value="<%= relationKako %>">
                  </td>
                </tr>

                <tr>
                  <td id="tags">タグ</td>
                  <td id="tag" class="table_main_tuika_selectable">
                      <% 
                         var count = 1;
                         for(var i in tagsInfo){
                            isTagsInMM = false;
                            count++;
                            var _tagId = tagsInfo[i].tags_id;
                            var _tagName = tagsInfo[i].tags; 
                         
                            for(var key in tagNameListInMM){
                                var _tagNameInMM = tagNameListInMM[key];
                                if(_tagName == _tagNameInMM){
                                    isTagsInMM = true;
                                    break;
                                }
                            }
                            if(isTagsInMM){%>
                                <input type="checkbox" name="tags_kako" value="<%= _tagId %>" checked="checked"><%= _tagName %>
                            <%}else{%>
                                <input type="checkbox" name="tags_kako" value="<%= _tagId %>"><%= _tagName %>
                            <%}%>

                            <%
                            if(count>5){
                                count=1;
                            %>      
                            <br>
                            <%}%>                      
                      <%}%>
                  </td>
                </tr>
                <tr>
                  <td class="comment_type">備考<br>※500文字以内</td>
                  <td class="comment table_main_tuika_selectable">
                     <textarea name="comment_kako" class="textarea_size"><%= commentKako %></textarea>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 変更前を保存 -->
          <input type="hidden" name="member_id_kako" value="<%= memberIdKako %>">
          <input type="hidden" name="name_sei_kako_bk" class="chenge_check_bk name_sei_kako" value="<%= nameSeiKako %>">
          <input type="hidden" name="name_na_kako_bk" class="chenge_check_bk name_na_kako" value="<%= nameNaKako %>">
          <input type="hidden" name="furigana_sei_kako_bk" class="chenge_check_bk furigana_sei_kako" value="<%= furiganaSeiKako %>">
          <input type="hidden" name="furigana_na_kako_bk" class="chenge_check_bk furigana_na_kako" value="<%= furiganaNaKako %>">
          <input type="hidden" name="sex_kako_bk" class="sex" value="<%= sexKako %>">
          <input type="hidden" name="kaimyo_kako_bk" class="chenge_check_bk kaimyo_kako" value="<%= kaimyoKako %>">
          <input type="hidden" name="kaimyo_furigana_kako_bk" class="chenge_check_bk kaimyo_furigana_kako" value="<%= kaimyoFuriganaKako %>">
          <input type="hidden" name="relation_kako_bk" class="chenge_check_bk relation_kako" value="<%= relationKako %>">
          <input type="hidden" name="birthday_y_kako_bk" class="chenge_check_bk birthday_y_kako" value="<%= birthdayYKako %>">
          <input type="hidden" name="birthday_m_kako_bk" class="chenge_check_bk birthday_m_kako" value="<%= birthdayMKako %>">
          <input type="hidden" name="birthday_d_kako_bk" class="chenge_check_bk birthday_d_kako" value="<%= birthdayDKako %>">
          <input type="hidden" name="meinichi_y_kako_bk" class="chenge_check_bk meinichi_y_kako" value="<%= meinichiYKako %>">
          <input type="hidden" name="meinichi_m_kako_bk" class="chenge_check_bk meinichi_m_kako" value="<%= meinichiMKako %>">
          <input type="hidden" name="meinichi_d_kako_bk" class="chenge_check_bk meinichi_d_kako" value="<%= meinichiDKako %>">
          <input type="hidden" name="sesyu_sei_kako_bk" class="chenge_check_bk sesyu_sei_kako" value="<%= sesyuSeiKako %>">
          <input type="hidden" name="sesyu_na_kako_bk" class="chenge_check_bk sesyu_na_kako" value="<%= sesyuNaKako %>">
          <input type="hidden" name="tags_kako_bk" class="chenge_check_bk tags_kako" value="<%= tagsKako %>">
          <input type="hidden" name="comment_kako_bk" value="<%= commentKako %>">
          <input type="hidden" name="member_id_kosyu" value=<%= memberId %>>
          <input type="hidden" name="tags" value=dummy>
          <div class="kihon_submit">
            <button type="button" id="return" class="button">過去帳に戻る</button>
            <input type="submit" value="変更内容確認" id="register" class="button">
          </div>
        </form>
      </div>

      <form action="/danka_detail_kihon" method="post" id="danka_detail_kihon_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kako" method="post" id="danka_detail_kako_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_nenkaiki" method="post" id="danka_detail_nenkaiki_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kihu" method="post" id="danka_detail_kihu_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_omairi" method="post" id="danka_detail_omairi_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>