<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">

  <!-- jQuery JS -->
  <script src="js/jquery-1.10.2.min.js"></script>

  <!-- Bootstrap JS & CSS -->
  <script src="/js/bs3.0.3/bootstrap.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/bs3.0.3/bootstrap.css' />

<link rel="stylesheet" href="stylesheets/zen_main_danka2.css" type="text/css" id="zen_main_danka_detail">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_common.css" type="text/css" id="danka_detail_common">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_kako_kihon.css" type="text/css" id="danka_detail_kihon">
<link rel="stylesheet" href="stylesheets/common_parts.css" type="text/css">

<script src="js/util.js"></script>
<script src="js/dankaInfo.js"></script>

<title>檀家管理システム　禅</title>

<%
    var memberId = kosyuInfo.member_id;
    var dankaType = kosyuInfo.danka_type;
	var dankaTypeDanka = "○";
	var dankaTypeShinto = "-";
	if (dankaType === 1){
	    dankaTypeDanka = "-";
	    dankaTypeShinto = "○";
    }
    var nameSei = kosyuInfo.name_sei;
    var nameNa = kosyuInfo.name_na;
    var nameFull = nameSei + "　" + nameNa;
    var tikuName = kosyuInfo.tiku_name;
    var sewaName = kosyuInfo.sewa_name;
    var tikuCode = kosyuInfo.tiku_code;
    var sewaCode = kosyuInfo.sewa_code;
%>
<%
    var memberIdKako = dankaInfo.member_id;  
    var nameSeiKako = dankaInfo.name_sei;
    var nameNaKako = dankaInfo.name_na;
    var furiganaSeiKako = dankaInfo.furigana_sei;
    var furiganaNaKako = dankaInfo.furigana_na;
    var kaimyoKako = dankaInfo.kaimyo;
    var kaimyoFuriganaKako = dankaInfo.kaimyo_furigana;
    var relationKako = dankaInfo.relation;
    var birthdayYKako = dankaInfo.birthday_y;
    var birthdayMKako = dankaInfo.birthday_m;
    var birthdayDKako = dankaInfo.birthday_d;
    var meinichiYKako = dankaInfo.meinichi_y;
    var meinichiMKako = dankaInfo.meinichi_m;
    var meinichiDKako = dankaInfo.meinichi_d;
    var kyonenKako = dankaInfo.kyonen;
    var sesyuSeiKako = dankaInfo.sesyu_sei;
    var sesyuNaKako = dankaInfo.sesyu_na;
    var commentKako = dankaInfo.comment;
%>
<%
    var tagsKako = dankaInfo.tags;
%>
<script>
    $(function () {

        // ページ遷移定義
        $("#return").click(function () {
            $("#danka_detail_kako_form").submit();
        });
        $(".menu_sub_kihon").click(function () {
            var a = $("#danka_detail_kihon_form input[name='member_id']").val();
            location.href = "/danka_detail_kihon?id=" + a;
        });
        $(".menu_sub_kako").click(function () {
            $("#danka_detail_kako_form").submit();
        });
        $(".menu_sub_genzai").click(function () {
            $("#danka_detail_genzai_form").submit();
        });
        $(".menu_sub_nenkaiki").click(function () {
            $("#danka_detail_nenkaiki_form").submit();
        });
        $(".menu_sub_kihu").click(function () {
            $("#danka_detail_kihu_form").submit();
        });
        $(".menu_sub_omairi").click(function () {
            $("#danka_detail_omairi_form").submit();
        });

        // 更新時のバリデーションチェック
        $("#main_form").submit(function () {
            // エラーの初期化
            $("p.error").remove();
            $("td").removeClass("error");

            var isDuplicate = "0";
            // エラーチェック
            $("input[type='text'].validate").each(function () {
                // 必須項目チェック
                if ($(this).hasClass("require")) {
                    if($(this).val() == ""){
                        if($(this).hasClass("duplicate_pre")){
                            isDuplicate = "1";
                            $(this).parent().parent().append("<p class='error'>値が設定されていません。</p>");
                            $(this).parent().parent().addClass("error");
                        } else if($(this).hasClass("duplicate_end") && isDuplicate == "1"){
                            isDuplicate = "0";
                        } else {
                            $(this).parent().parent().append("<p class='error'>値が設定されていません。</p>");
                            $(this).parent().parent().addClass("error");
                        }
                    }
                }
                // 数字項目チェック
                if ($(this).hasClass("number")) {
                    if (isNaN($(this).val())) {
                        $(this).parent().parent().append("<p>数値が設定されていません。</p>");
                        $(this).parent().parent().addClass("error");
                    }
                }
            });

            // エラーチェック
            if ($("p.error").length > 0) {
                return false;
            }

            // テキスト項目の差分チェックを実施
            var isChange = false;
            $(".chenge_check").each(function () {
                var key = $(this).attr("name");
                var value = $(this).val();
                $(".chenge_check_bk").each(function () {
                    if ($(this).hasClass(key)) {
                        var valueBk = $(this).val();
                        if (value !== valueBk) {
                            isChange = true;
                            return false;
                        }
                        return false;
                    }
                });

                if (isChange) {
                    return true;
                }
            });

            // テキストエリアの差分比較
            var commentAfter = $("textarea[name='comment_kako']").val();
            var commentBk = $("input[name='comment_kako_bk']").val();

            if (commentAfter !== commentBk) {
                isChange = true;
            }

            // チェックボックスの差分比較
            var checkTags = "";
            $("input[name='tags_kako']:checked").each(function () {
                var _tagId = $(this).val();
                var _tagName = $(this)[0].nextSibling.nodeValue;
                var _tagNameTrim = jQuery.trim(_tagName);
                if (isUndefine(checkTags)) {
                    checkTags = _tagNameTrim;
                    return true;
                }
                checkTags = checkTags + "," + _tagNameTrim;
                return true;
            });

            var tagsBk = $("input[name='tags_kako_bk']").val();
            if (checkTags !== tagsBk) {
                isChange = true;
            }
            $("input[name='tags']").val(checkTags);

            // 値が何も変更されていない場合は、ポップアップを出力する。
            if (!isChange) {
                alert("変更されていません。");
                return false;
            }
        });
    });
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
            <div id="menu">
                <nav>
                    <ul>
                        <li class="menu_disable"><span class="ja">スケジュール</span><span class="en">schedule</span>
                    </ul>
                    <ul>
                        <li class="menu_enable"><a href="/danka_base?id=0"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>
                        <li class="menu_disable"><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
                        <li class="menu_disable"><span class="ja">台帳管理</span><span class="en">master</span>
                        <li class="menu_enable"><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
                    </ul>
                    <ul>
                        <li class="menu_disable"><span class="ja">備品管理</span><span class="en">stock-manage</span>
                        <li class="menu_disable"><span class="ja">寺院情報</span><span class="en">user-info</span>
                    </ul>
                </nav>
            </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div class="inner_title">
        <div id="title">
   	      <h2><span class="ja">檀家管理詳細</span><span class="en">danka detail infomation</span></h2>
        </div>
        <div class="kosyu_info">
   	      <table class="table table-bordered table-condensed">
              <thead>
                <tr>
                  <th class="kosyu_info_kosyu_th">戸主名</th>
                  <th class="kosyu_info_type_danka_th">檀家</th>
                  <th class="kosyu_info_type_shinto_th">信徒</th>
                  <th class="kosyu_info_tiku_th">地区</th>
                  <th class="kosyu_info_sewa_th">世話人</th>
                </tr>
              </thead>
              <tbody>
                <tr id="<%= memberId %>">
                <td class="table_name_full"><div class="padding-default"><%= nameFull %></div></td>
                <td class="table_danka_type_danka"><div class="padding-default text-center"><%= dankaTypeDanka %></div></td>
                <td class="table_danka_type_shinto"><div class="padding-default text-center"><%= dankaTypeShinto %></div></td>
                <td id="<%= tikuCode %>" class="table_tiku_name"><div class="padding-default"><%= tikuName %></div></td>
                <td id="<%= sewaCode %>" class="table_sewa_name"><div class="padding-default"><%= sewaName %></div></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div id="menu_sub">
          <ul>
            <li class="menu_sub_kihon"><label>基本情報 </label>
            <li class="menu_sub_kako selected"><label>過去帳</label>
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div class="inner_main">
        <form action="danka_detail_kako_confirm" id="main_form" method="post">
          <div class="table_main_kihon">
            <table class="table table-bordered table-condensed">
              <thead>
                <tr class="table_main_kihon_header">
                  <th class="table_main_kihon_header_komoku">登録項目</td>
                  <th class="table_main_kihon_header_naiyo">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label class="padding-default">俗名 ※必須</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">姓</div>
                      <div class="col col-sm-5 padding-left-zero">
                        <input type="text" name="name_sei_kako" class="form-control input-sm chenge_check validate require duplicate_pre" value="<%= nameSeiKako %>">
                      </div>
                      <div class="col col-sm-1 style-name-in-table">名</div>
                      <div class="col col-sm-5 padding-left-zero">
                        <input type="text" name="name_na_kako" class="form-control input-sm chenge_check validate require duplicate_end" value="<%= nameNaKako %>">
                      </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">俗名（ふりがな）※必須</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">せい</div>
                      <div class="col col-sm-5 padding-left-zero">
                        <input type="text" name="furigana_sei_kako" class="form-control input-sm chenge_check validate require duplicate_pre" value="<%= furiganaSeiKako %>">
                      </div>
                      <div class="col col-sm-1 style-name-in-table">めい</div>
                      <div class="col col-sm-5 padding-left-zero">
                        <input type="text" name="furigana_na_kako" class="form-control input-sm chenge_check validate require duplicate_end" value="<%= furiganaNaKako %>">
                      </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">戒名</label></td>
                  <td id="region" class="table_main_tuika_selectable">
                  <div class="col col-sm-7 padding-default">
                    <input type="text" name="kaimyo_kako" class="form-control input-sm chenge_check validate duplicate_end" value="<%= kaimyoKako %>">
                  </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">戒名（ふりがな）</label></td>
                  <td id="region" class="table_main_tuika_selectable">
                  <div class="col col-sm-7 padding-default">
                    <input type="text" name="kaimyo_furigana_kako" class="form-control input-sm chenge_check validate duplicate_end" value="<%= kaimyoFuriganaKako %>">
                  </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">生年月日</label></td>
                  <td id="birthday_y" class="table_main_tuika_selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_y_kako" class="form-control input-sm chenge_check validate number" value="<%= birthdayYKako %>">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">年</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_m_kako" class="form-control input-sm chenge_check validate number" value="<%= birthdayMKako %>">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">月</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="birthday_d_kako" class="form-control input-sm chenge_check validate number" value="<%= birthdayDKako %>">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">日</div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">命日</label></td>
                  <td id="birthday_y" class="table_main_tuika_selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="meinichi_y_kako" class="form-control input-sm chenge_check validate number" value="<%= meinichiYKako %>">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">年</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="meinichi_m_kako" class="form-control input-sm chenge_check validate number" value="<%= meinichiMKako %>">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">月</div>
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="meinichi_d_kako" class="form-control input-sm chenge_check validate number" value="<%= meinichiDKako %>">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">日</div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">享年</label></td>
                  <td id="birthday_y" class="table_main_tuika_selectable">
                      <div class="col col-sm-2 padding-default">
                        <input type="text" name="kyonen_kako" class="form-control input-sm chenge_check kyonen_size" value="<%= kyonenKako %>">
                      </div>
                      <div class="col col-sm-1 style-string-in-table">年</div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">施主</label></td>
                  <td class="table-selectable">
                      <div class="col col-sm-1 style-name-in-table">姓</div>
                      <div class="col col-sm-5 padding-left-zero">
                        <input type="text" name="sesyu_sei_kako" class="form-control input-sm chenge_check" value="<%= sesyuSeiKako %>">
                      </div>
                      <div class="col col-sm-1 style-name-in-table">名</div>
                      <div class="col col-sm-5 padding-left-zero">
                        <input type="text" name="sesyu_na_kako" class="form-control input-sm chenge_check" value="<%= sesyuNaKako %>">
                      </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">施主から見た続柄</label></td>
                  <td id="region" class="table_main_tuika_selectable">
                  <div class="col col-sm-3 padding-default">
                    <input type="text" name="relation_kako" class="form-control input-sm chenge_check" value="<%= relationKako %>">
                  </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">タグ</label></td>
                  <td class="table-selectable">
                    <div class="padding-default">
                      <% 
                         var count = 1;
                         for(var i in tagsInfo){
                            isTagsInMM = false;
                            count++;
                            var _tagId = tagsInfo[i].tags_id;
                            var _tagName = tagsInfo[i].tags; 
                         
                            for(var key in tagNameListInMM){
                                var _tagNameInMM = tagNameListInMM[key];
                                if(_tagName == _tagNameInMM){
                                    isTagsInMM = true;
                                    break;
                                }
                            }
                            if(isTagsInMM){%>
                                <input type="checkbox" name="tags_kako" value="<%= _tagId %>" checked="checked"><%= _tagName %>
                            <%}else{%>
                                <input type="checkbox" name="tags_kako" value="<%= _tagId %>"><%= _tagName %>
                            <%}%>

                            <%
                            if(count>5){
                                count=1;
                            %>      
                            <br>
                            <%}%>                      
                      <%}%>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><label class="padding-default">備考<br>※500文字以内</label></td>
                  <td id="comment" class="table_main_tuika_selectable padding-default">
                     <textarea name="comment_kako" class="form-control input-sm"><%= commentKako %></textarea></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- 変更前を保存 -->
          <input type="hidden" name="member_id_kako" value="<%= memberIdKako %>">
          <input type="hidden" name="name_sei_kako_bk" class="chenge_check_bk name_sei_kako" value="<%= nameSeiKako %>">
          <input type="hidden" name="name_na_kako_bk" class="chenge_check_bk name_na_kako" value="<%= nameNaKako %>">
          <input type="hidden" name="furigana_sei_kako_bk" class="chenge_check_bk furigana_sei_kako" value="<%= furiganaSeiKako %>">
          <input type="hidden" name="furigana_na_kako_bk" class="chenge_check_bk furigana_na_kako" value="<%= furiganaNaKako %>">
          <input type="hidden" name="kaimyo_kako_bk" class="chenge_check_bk kaimyo_kako" value="<%= kaimyoKako %>">
          <input type="hidden" name="kaimyo_furigana_kako_bk" class="chenge_check_bk kaimyo_furigana_kako" value="<%= kaimyoFuriganaKako %>">
          <input type="hidden" name="relation_kako_bk" class="chenge_check_bk relation_kako" value="<%= relationKako %>">
          <input type="hidden" name="birthday_y_kako_bk" class="chenge_check_bk birthday_y_kako" value="<%= birthdayYKako %>">
          <input type="hidden" name="birthday_m_kako_bk" class="chenge_check_bk birthday_m_kako" value="<%= birthdayMKako %>">
          <input type="hidden" name="birthday_d_kako_bk" class="chenge_check_bk birthday_d_kako" value="<%= birthdayDKako %>">
          <input type="hidden" name="meinichi_y_kako_bk" class="chenge_check_bk meinichi_y_kako" value="<%= meinichiYKako %>">
          <input type="hidden" name="meinichi_m_kako_bk" class="chenge_check_bk meinichi_m_kako" value="<%= meinichiMKako %>">
          <input type="hidden" name="meinichi_d_kako_bk" class="chenge_check_bk meinichi_d_kako" value="<%= meinichiDKako %>">
          <input type="hidden" name="kyonen_kako_bk" class="chenge_check_bk kyonen_kako" value="<%= kyonenKako %>">
          <input type="hidden" name="sesyu_sei_kako_bk" class="chenge_check_bk sesyu_sei_kako" value="<%= sesyuSeiKako %>">
          <input type="hidden" name="sesyu_na_kako_bk" class="chenge_check_bk sesyu_na_kako" value="<%= sesyuNaKako %>">
          <input type="hidden" name="tags_kako_bk" class="chenge_check_bk tags_kako" value="<%= tagsKako %>">
          <input type="hidden" name="comment_kako_bk" value="<%= commentKako %>">
          <input type="hidden" name="member_id_kosyu" value=<%= memberId %>>
          <input type="hidden" name="tags" value=dummy>
          <div class="row">
            <div class="col col-sm-3 text-left">
                <button type="button" id="return" class="btn btn-primary btn-sm">過去帳に戻る</button>
            </div>
            <div class="col col-sm-6">
                <button type="submit" id="register" class="btn btn-success btn-lg">　変更内容確認　</button>
            </div>
          </div>
        </form>
      </div>

      <form action="/danka_detail_kihon" method="post" id="danka_detail_kihon_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kako" method="post" id="danka_detail_kako_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_nenkaiki" method="post" id="danka_detail_nenkaiki_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kihu" method="post" id="danka_detail_kihu_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_omairi" method="post" id="danka_detail_omairi_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>

