<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="GENERATOR" content="JustSystems Homepage Builder Version 18.0.3.0 for Windows">
<link rel="stylesheet" href="stylesheets/zen_main_danka.css" type="text/css" id="zen_main_danka_detail">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_common.css" type="text/css" id="danka_detail_common">
<link rel="stylesheet" href="stylesheets/danka_detail/danka_detail_kihon_confirm.css" type="text/css" id="danka_detail_kihon">
<title>檀家管理システム　禅</title>
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/util.js"></script>
<script src="js/dankaInfo.js"></script>
<%
    var memberId = kosyuInfo.member_id;
    var dankaType = kosyuInfo.danka_type;
	var dankaTypeDanka = "○";
	var dankaTypeShinto = "-";
	if (dankaType === 1){
	    dankaTypeDanka = "-";
	    dankaTypeShinto = "○";
    }
    var nameSei = kosyuInfo.name_sei;
    var nameNa = kosyuInfo.name_na;
    var nameFull = nameSei + "　" + nameNa;
    var tikuName = kosyuInfo.tiku_name;
    var sewaName = kosyuInfo.sewa_name;
    var tikuCode = kosyuInfo.tiku_code;
    var sewaCode = kosyuInfo.sewa_code;
%>
<%
    var nameSeiKakoBk = webItemJson.name_sei_kako_bk;
    var nameNaKakoBk = webItemJson.name_na_kako_bk;
    var nameFullKakoBk = nameSeiKakoBk + "　" + nameNaKakoBk;
    var furiganaSeiKakoBk = webItemJson.furigana_sei_kako_bk;
    var furiganaNaKakoBk = webItemJson.furigana_na_kako_bk;
    var furiganaFullKakoBk = furiganaSeiKakoBk + "　" + furiganaNaKakoBk;
    var kaimyoKakoBk = webItemJson.kaimyo_kako_bk;
    var kaimyoFuriganaKakoBk = webItemJson.kaimyo_furigana_kako_bk;
    var sexKakoBk = webItemJson.sex_kako_bk;
    var birthdayYKakoBk = webItemJson.birthday_y_kako_bk;
    var birthdayMKakoBk = webItemJson.birthday_m_kako_bk;
    var birthdayDKakoBk = webItemJson.birthday_d_kako_bk;
    var birthdayKakoBk = birthdayYKakoBk + "年" + birthdayMKakoBk + "月" + birthdayDKakoBk + "日";
    var meinichiYKakoBk = webItemJson.meinichi_y_kako_bk;
    var meinichiMKakoBk = webItemJson.meinichi_m_kako_bk;
    var meinichiDKakoBk = webItemJson.meinichi_d_kako_bk;
    var meinichiKakoBk = meinichiYKakoBk + "年" + meinichiMKakoBk + "月" + meinichiDKakoBk + "日";
    var relationKakoBk = webItemJson.relation_kako_bk;
    var sesyuSeiKakoBk = webItemJson.sesyu_sei_kako_bk;
    var sesyuNaKakoBk = webItemJson.sesyu_na_kako_bk;
    var sesyuNameFullKakoBk = sesyuSeiKakoBk + "　" + sesyuNaKakoBk;
    var commentKakoBk = webItemJson.comment_kako_bk;
    var tagsKakoBk = webItemJson.tags_kako_bk;
%>
<%
    var memberIdKako = webItemJson.member_id_kako;
    var nameSeiKako = webItemJson.name_sei_kako;
    var nameNaKako = webItemJson.name_na_kako;
    var nameFullKako = nameSeiKako + "　" + nameNaKako;
    var furiganaSeiKako = webItemJson.furigana_sei_kako;
    var furiganaNaKako = webItemJson.furigana_na_kako;
    var furiganaFullKako = furiganaSeiKako + "　" + furiganaNaKako;
    var kaimyoKako = webItemJson.kaimyo_kako;
    var kaimyoFuriganaKako = webItemJson.kaimyo_furigana_kako;
    var sexKako = webItemJson.sex_kako;
    var birthdayYKako = webItemJson.birthday_y_kako;
    var birthdayMKako = webItemJson.birthday_m_kako;
    var birthdayDKako = webItemJson.birthday_d_kako;
    var birthdayKako = birthdayYKako + "年" + birthdayMKako + "月" + birthdayDKako + "日";
    var meinichiYKako = webItemJson.meinichi_y_kako;
    var meinichiMKako = webItemJson.meinichi_m_kako;
    var meinichiDKako = webItemJson.meinichi_d_kako;
    var meinichiKako = meinichiYKako + "年" + meinichiMKako + "月" + meinichiDKako + "日";
    var relationKako = webItemJson.relation_kako;
    var sesyuSeiKako = webItemJson.sesyu_sei_kako;
    var sesyuNaKako = webItemJson.sesyu_na_kako;
    var sesyuNameFullKako = sesyuSeiKako + "　" + sesyuNaKako;
    var commentKako = webItemJson.comment_kako;
    var tagsKako = webItemJson.tags;
%>
<%
    
%>
<script>
    $(function(){

    // 更新時のバリデーションチェック
        $("form").submit(function () {
            $(".is_change").each(function () {
                if ($(this).parent().hasClass("m_member")) {
                    $("input[name='is_update_m_member']").val(true);
                    //return false;
                }
                if ($(this).parent().hasClass("t_danka")) {
                    $("input[name='is_update_t_danka']").val(true);
                    //return false;
                }
                if ($(this).parent().hasClass("t_comment")) {
                    $("input[name='is_update_t_comment']").val(true);
                    //return false;
                }
            });
        });

        // ページ遷移定義
        $("#return").click(function () {
            $("#danka_detail_kako_kihon_form").submit();
        });
        $(".menu_sub_kihon").click(function () {
            $("#danka_detail_kihon_form").submit();
        });
        $(".menu_sub_kako").click(function () {
            $("#danka_detail_kako_form").submit();
        });
        $(".menu_sub_genzai").click(function () {
            $("#danka_detail_genzai_form").submit();
        });
        $(".menu_sub_nenkaiki").click(function () {
            $("#danka_detail_nenkaiki_form").submit();
        });
        $(".menu_sub_kihu").click(function () {
            $("#danka_detail_kihu_form").submit();
        });
        $(".menu_sub_omairi").click(function () {
            $("#danka_detail_omairi_form").submit();
        });
    })
</script>
</head>
<body>
<!-- container -->
<div id="container">
  <!-- header -->
  <div id="header">
    <div id="headerMain">
      <h1>長伝寺様向けカスタマイズ</h1>
    </div>
    <div id="headerLogo">
      <img src="img/logo1_dannkasystem.gif" alt="logo1_dannkasystem">
    </div>
  </div>
  <!-- header end -->
  <!-- inner -->
  <div id="inner">
    <!-- menu_box -->
    <div id="menu_box">
      <div id="temple_img"><img src="img/tyo-denji.jpg" alt="temple-image" width="198" height="132" border=0></div>
      <!-- menu -->
      <div id="menu">
        <nav>
          <ul>
            <li><span class="ja">スケジュール</span><span class="en">schedule</span>
          </ul>
          <ul>
            <li><a href="/danka_top"><span class="ja">檀家管理</span><span class="en">danke-manage</span></a>  
            <li><span class="ja">僧・世話人管理</span><span class="en">so-manage</span>
            <li><span class="ja">台帳管理</span><span class="en">master</span>
            <li><a href="/report_top"><span class="ja">帳票出力</span><span class="en">out-tyohyo</span></a>
          </ul>
          <ul>
            <li><span class="ja">備品管理</span><span class="en">stock-manage</span>
            <li><span class="ja">寺院情報</span><span class="en">user-info</span>
          </ul>
        </nav>
      </div>
      <!-- menu end -->
    </div>
    <!-- menu_box end -->
    <!-- wrapper -->
    <div id="wrapper">
      <!-- inner_title -->
      <div class="inner_title">
        <div class="title">
   	      <h2><span class="ja">檀家管理詳細</span><span class="en">danka detail infomation</span></h2>
        </div>
        <div class="kosyu_info">
   	      <table>
              <thead>
                <tr>
                  <th class="kosyu_info_kosyu_th">戸主名</th>
                  <th class="kosyu_info_type_danka_th">檀家</th>
                  <th class="kosyu_info_type_shinto_th">信徒</th>
                  <th class="kosyu_info_tiku_th">地区</th>
                  <th class="kosyu_info_sewa_th">世話人</th>
                </tr>
              </thead>
              <tbody>
                <tr id="<%= memberId %>">
                  <td class="table_name_full"><%= nameFull %></td>
                  <td class="table_danka_type_danka"><%= dankaTypeDanka %></td>
                  <td class="table_danka_type_shinto"><%= dankaTypeShinto %></td>
                  <td id="<%= tikuCode %>" class="table_tiku_name"><%= tikuName %></td>
                  <td id="<%= sewaCode %>" class="table_sewa_name"><%= sewaName %></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="menu_sub">
          <ul>
            <li class="menu_sub_kihon">基本情報 
            <li class="menu_sub_kako">過去帳
            <li class="menu_sub_nenkaiki_dummy">年回忌
          </ul>
        </div>
      </div>
      <!-- title end-->
      <!-- inner_main □□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
      <div class="inner_main">
          <div class="confirm_title_comment">
              <span class="confirm_title_comment_main">登録内容確認</span><span class="confirm_title_comment_sub">※よろしければ登録ボタンを押して下さい</span>
          </div>
        <form action="danka_detail_kako_db_update" method="post">
          <div class="table_main_kihon">
            <table>
              <thead>
                <tr class="table_main_kihon_header">
                  <th class="table_main_kihon_header_komoku">登録項目</td>
                  <th class="table_main_kihon_header_naiyo">登録内容</td>
                </tr>
              </thead>
              <tbody>
                <tr class="m_member">
                  <td id="name_type">俗名(※必須)</td>
                    <script>
                      createHtml("<%= nameFullKakoBk %>", "<%= nameFullKako %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="furigana_type">ふりがな</td>
                    <script>
                      createHtml("<%= furiganaFullKakoBk %>", "<%= furiganaFullKako %>");
                    </script>
                </tr>
                <tr class="t_danka">
                  <td id="kaimyo">戒名</td>
                    <script>
                      createHtml("<%= kaimyoKakoBk %>", "<%= kaimyoKako %>");
                    </script>
                </tr>
                <tr class="t_danka">
                  <td id="kaimyo_furigana">戒名(ふりがな)</td>
                    <script>
                      createHtml("<%= kaimyoFuriganaKakoBk %>", "<%= kaimyoFuriganaKako %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="sex_type">性別(※必須)</td>
                    <script>
                      createHtmlBySex("<%= sexKakoBk %>", "<%= sexKako %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="birthday_type">生年月日</td>
                    <script>
                      createHtml("<%= birthdayKakoBk %>", "<%= birthdayKako %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="meinichi_type">命日</td>
                    <script>
                      createHtml("<%= meinichiKakoBk %>", "<%= meinichiKako %>");
                    </script>
                </tr>
                <tr class="t_danka">
                  <td id="kosyu_type">戸主</td>
                    <td><%= nameFull %></td>
                </tr>
                <tr class="t_danka">
                  <td id="sesyu_name">施主</td>
                    <script>
                      createHtml("<%= sesyuNameFullKakoBk %>", "<%= sesyuNameFullKako %>");
                    </script>
                </tr>
                <tr class="t_danka">
                  <td id="relation">施主から見た続柄</td>
                    <script>
                      createHtml("<%= relationKakoBk %>", "<%= relationKako %>");
                    </script>
                </tr>
                <tr class="m_member">
                  <td id="relation">タグ</td>
                    <script>
                      createHtml("<%= tagsKakoBk %>", "<%= tagsKako %>");
                    </script>
                </tr>
                <tr class="t_comment">
                  <td class="comment_type">備考<br>※500文字以内</td>
                    <script>
                      createHtml("<%= commentKakoBk %>", "<%= commentKako %>");
                    </script>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- DB更新情報 -->
            <input type="hidden" name="member_id" value=<%= memberIdKako %>>
            <input type="hidden" name="name_sei" value=<%= nameSeiKako %>>
            <input type="hidden" name="name_na" value=<%= nameNaKako %>>
            <input type="hidden" name="furigana_sei" value=<%= furiganaSeiKako %>>
            <input type="hidden" name="furigana_na" value=<%= furiganaNaKako %>>
            <input type="hidden" name="kaimyo" value=<%= kaimyoKako %>>
            <input type="hidden" name="kaimyo_furigana" value=<%= kaimyoFuriganaKako %>>
            <input type="hidden" name="sex" value=<%= sexKako %>>
            <input type="hidden" name="birthday_y" value=<%= birthdayYKako %>>
            <input type="hidden" name="birthday_m" value=<%= birthdayMKako %>>
            <input type="hidden" name="birthday_d" value=<%= birthdayDKako %>>
            <input type="hidden" name="meinichi_y" value=<%= meinichiYKako %>>
            <input type="hidden" name="meinichi_m" value=<%= meinichiMKako %>>
            <input type="hidden" name="meinichi_d" value=<%= meinichiDKako %>>
            <input type="hidden" name="relation" value=<%= relationKako %>>
            <input type="hidden" name="sesyu_sei" value=<%= sesyuSeiKako %>>
            <input type="hidden" name="sesyu_na" value=<%= sesyuNaKako %>>
            <input type="hidden" name="comment" value=<%= commentKako %>>
            <input type="hidden" name="tags" value=<%= tagsKako %>>
            <input type="hidden" name="is_update_m_member" value=false>
            <input type="hidden" name="is_update_t_danka" value=false>
            <input type="hidden" name="is_update_t_comment" value=false>
            <input type="hidden" name="member_id_kosyu" value=<%= memberId %>>
            <div class="confirm_submit">
              <button type="button" id="return" class="button">過去帳に戻る</button>
              <input type="submit" value="登録" id="register" class="button">
            </div>
        </form>
      <form action="/danka_detail_kako_kihon" method="post" id="danka_detail_kako_kihon_form">
        <input type="hidden" name="selected_member_id" value="<%= memberIdKako %>">
        <input type="hidden" name="member_id_kosyu" value="<%= memberId %>">
      </form>
      <form action="/danka_detail_kihon" method="post" id="danka_detail_kihon_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kako" method="post" id="danka_detail_kako_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_nenkaiki" method="post" id="danka_detail_nenkaiki_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_kihu" method="post" id="danka_detail_kihu_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      <form action="/danka_detail_omairi" method="post" id="danka_detail_omairi_form">
        <input type="hidden" name="member_id" value=<%= memberId %>>
      </form>
      </div>
      <!-- inner_main end □□□□□□□□□□□□□□□□□□□□□□□□□□□□□ -->
    </div>
    <!-- wrapper end -->
  </div>
  <!-- inner end -->
  <!-- footer -->
  <div id="footer">
    <div id="footer_main">
      <p>copyright&copy;2014&nbsp;SunForest&nbsp;rights&nbsp;reserved.</p>
    </div>
  <!-- footer end -->
</div>
<!-- container end -->
</div>
</body>
</html>